
<div class="edit_pages_content_main clearfix"  ng-controller="referenceCtrl">
    <div class="edit_page_item">
        <div class="edit_page_item_head clearfix">
            <h4>Reference Details &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </h4>

            <div class="edit_page_item_ui clearfix">
                <div id="ctl00_ContentPlaceHolder1_EditCustomerReference_uplnkrefrenceadd">

                    <a id="ctl00_ContentPlaceHolder1_EditCustomerReference_lnkrefrenceadd" class="edit_page_add_button" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$EditCustomerReference$lnkrefrenceadd','')"
                        tabindex="0">Add</a>

                </div>
            </div>
        </div>


        <div class="edit_page_details_item">
            <div id="ctl00_ContentPlaceHolder1_EditCustomerReference_fullupdate">

                <div id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_reviewdiv" class="edit_page_details_item_desc clearfix"
                    style="background-image:url(../../Customer/Images/img_kaaka_Seal_b.png); background-repeat: no-repeat;">
                    <div>
                        <div id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_uplRelationShipType">

                            <div class="edit_page_details_item_desc clearfix">
                                <h6>
                                    <span id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_RelationShipType" style="font-weight:bold;">RelationShip Type</span></h6>
                                <h5>
                                    <span id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_lblRelationShipType">Friend</span></h5>

                            </div>

                        </div>
                        <div id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_uplreferenceEditdgdf" class="edit_page_item_ui clearfix">

                            <a onclick="return AllowWebUser('Reference Details');" id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_lnkreferencefgbf"
                                class="edit_page_edit_button" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$EditCustomerReference$lstReference$ctrl0$lnkreferencefgbf','')">Edit</a>



                        </div>

                    </div>
                    <div id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_uplName">

                        <div class="edit_page_details_item_desc clearfix">

                            <h6>
                                <span id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_Name" style="font-weight:bold;">Name</span></h6>
                            <h5>
                                <span id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_lblName">ssss aaaa</span></h5>

                        </div>

                    </div>

                    <div id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_uplEducationRef">



                    </div>
                    <div id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_uplProfessionDetails">

                        <div class="edit_page_details_item_desc clearfix">
                            <h6>
                                <span id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_ProfessionDetails" style="font-weight:bold;">Profession</span></h6>
                            <h5>
                                <span id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_lblProfessionDetails">adadadad</span>
                            </h5>
                        </div>

                    </div>
                    <div id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_uplNativePlace">

                        <div class="edit_page_details_item_desc clearfix">
                            <h6>
                                <span id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_NativePlace" style="font-weight:bold;">Native Place</span></h6>
                            <h5>
                                <span id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_lblNativePlace">ggggg,Telangana,Hyderabad,India</span></h5>
                        </div>

                    </div>
                    <div id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_uplCurrentLocation">

                        <div class="edit_page_details_item_desc clearfix">

                            <h6>
                                <span id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_CurrentLocation" style="font-weight:bold;">Current Location</span></h6>
                            <h5>
                                <span id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_lblCurrentLocation">dfdfdf</span></h5>

                        </div>

                    </div>
                    <div id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_update0">

                        <div id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_ownerdiv0">

                            <div id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_uplContacts">

                                <div class="edit_page_details_item_desc clearfix">
                                    <h6>
                                        <span id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_Contacts" style="font-weight:bold;">Contacts</span></h6>
                                    <h5>
                                        <span id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_lblContacts">91-3453453543&amp;91-40-34534535</span></h5>
                                </div>

                            </div>
                            <div id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_uplEmail">

                                <div class="edit_page_details_item_desc clearfix">
                                    <h6>
                                        <span id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_Email" style="font-weight:bold;">Email</span></h6>
                                    <h5>
                                        <span id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_lblEmail"></span></h5>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_uplNarration">

                        <div class="edit_page_details_item_desc clearfix">
                            <h6>
                                <span id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_Narration" style="font-weight:bold;">Narration</span></h6>
                            <h5>
                                <span id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_lblNarration">erterertgdfgdfgdfgdfgdfgdgdgdfg</span></h5>
                        </div>

                    </div>
                    <hr>
                    <div id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_uplBackendFieldsref" class="edit_page_details_item_desc clearfix">

                        <div id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_BackendFields" style="display: none;">



                            <span id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_lblRefrenceNativePlace">ggggg</span>


                            <span id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_lblRefrenceStateID">3772</span>

                            <span id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_lblRefrenceLandCountryId">1</span>






                            <span id="ctl00_ContentPlaceHolder1_EditCustomerReference_lstReference_ctrl0_lblRefrencePRofessionGroupID"></span>








                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

        <script type="text/ng-template" id="referenceContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Property Details</h3>
        </div>
        <div class="modal-body" id="modal-body">

<ul id="ulproperty">
    <li class="clearfix">
        <label for="lblfamilyStatus" class="pop_label_left">Family Status</label>
        <div class="pop_controls_right select-box-my">

            <select id="ddlFamilyStatus"></select>
            <label id="lblPropertyIDV" visible="false"></label>
            <label id="lblCustpropertyidV" visible="false"></label>
            <label id="lblIsSharedPropertyV" visible="false"></label>
            <label id="lblShowInViewProfileV" visible="false"></label>
        </div>
    </li>
    <li class="clearfix">
        <label for="lblSharedProperty" class="pop_label_left">Is shared property</label>
        <div class="pop_controls_right pop_radios_list">

            <label class="">
                <input name="SharedProperty" value="1" type="radio" checked><span>&nbsp;Yes</span>
            </label>
            &nbsp;<label class=""><input name="SharedProperty" value="0" type="radio"><span>&nbsp;No</span>
            </label>

        </div>
    </li>
    <li class="clearfix" style="display: none;">
        <label for="lblQuantity" class="pop_label_left">Quantity</label>
        <div class="pop_controls_right select-box-my">
            <input id="txtQuantity" class="form-control col-lg-3" />
        </div>
    </li>
    <li class="clearfix">
        <label for="lblValueofproperty" class="pop_label_left">Value of property</label>
        <div class="pop_controls_right select-box-my select-box-my-double">
            <input id="txtValueofproperty" class="form-control" maxlength="5" tabindex="3" />
            <label id="txtlakfhs" font-bold="true">Lakhs</label>

        </div>

    </li>

    <li class="clearfix">

        <label for="lblQuantity" class="pop_label_left">Property description</label>
        <div class="">
            <textarea id="txtPropertydesc" t maxlength="500" rows="5" width="515"
                onkeydown="return CharacterCount()" onkeyup="return CharacterCount()"></textarea>
            <label id="lblpropertydesccount" style="color: #1e1c1c; font-size: 13px;"></label>
        </div>
    </li>
    <li class="clearfix">
        <div style="display: none;">
            <label for="lblShowingviewprofile" class="pop_label_left">Showing view profile</label>
            <div class="pop_controls_right pop_radios_list">
                <label class="">
                    <input name="rbtShowViewProfile" value="1" type="radio" checked><span>&nbsp;Yes</span>
                </label>
                &nbsp;<label class=""><input name="rbtShowViewProfile" value="0" type="radio"><span>&nbsp;No</span>
                </label>
            </div>
        </div>
    </li>
</ul>
         
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>



