<div class="edit_pages_sidebar  clearfix" ng-controller="editSideMenuCtrl">
    <div class="edit_page_profile_pic">
        <img id="imgphoto" src="../../access/Images/ProfilePics/KMPL_91035_Images/img1_Images/210910352_ApplicationPhoto.jpg">
        <span id="lblcust_Id" style="display: none;"></span>

    </div>

    <div class="edit_pages_sidebar_profile_details">
        <h6>
            <span id="lstPersolnalDetails_ctrl0_lblCustNamewithProfileID">Anil S (210910352)</span></h6>
        <div class="edit_pages_sidebar_profile_details_in">

            <p>
                <span id="lstPersolnalDetails_ctrl0_lblMaritalDOBHeight">Unmarried ,22 Aug 1990 (26) ,6'0 in - 183  ,Fair</span>
            </p>
            <p>
                <span id="lstPersolnalDetails_ctrl0_lblReligionMTCaste">Hindu ,Telugu, Reddy</span>
            </p>
            <p>
                <span>
                <span id="lstPersolnalDetails_ctrl0_lblcitizen" style="font-weight:bold;"> Born Citizen:India</span>
                </span>
            </p>
        </div>
    </div>

    <div class="clear"></div>

    <div class="edit_pages_sidebar_menu clearfix">
        <ul>
            <li>
                <a id="lnkeducationandprof" href="#/editEducationAndProfession">Education & Profession</a></li>
            <li>
                <a id="lnkmanagephoto" href="#/editManagePhoto">Manage Photo</a></li>
            <li>
                <a id="lnkparents" href="#/editparent">Parent Details</a></li>
            <li>
                <a id="lnkpartner" href="#/editPartnerPreferences">Partner Preferences</a></li>
            <li>
                <a id="lnksiblings" href="#/editSiblingDetails">Sibling Details</a></li>
            <li>
                <a id="lnkastro" href="#/editAstro">Astro Details</a></li>
            <li>
                <a id="lnkproperty" href="#/editProperty">Property Details</a>
            </li>
            <li>
                <a id="lnkrelatives" href="#/editRelative">Relative Details</a>
            </li>
            <li>
                <a id="lnkreference" href="#/editReferences">References</a>
            </li>
            <li>

            </li>

        </ul>
    </div>

</div>
