<div class="edit_pages_content_main clearfix" ng-controller="astroCtrl">
    <div id="divlnkasro" class="edit_page_item">
        <div class="edit_page_item_head clearfix">
            <h4>Astro Details &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
            <div class="edit_page_item_ui clearfix">
                <div id="UpdatePanelfullastro" cssclass="edit_page_add_button">
                </div>
            </div>
        </div>
        <div class="edit_page_details_item">
            <div id="updatepanellistastro">
                <div>
                    <div id="reviewdiv" class="edit_page_details_item_desc clearfix" style="background-image:url(../../Customer/Images/img_kaaka_Seal_b.png); background-repeat: no-repeat;">
                        <div>

                            <div id="UpdatePanelTimeofBirth" class="edit_page_details_item_desc clearfix">

                                <div id="TIMEDIV">

                                    <h6>
                                        <span id="TimeofBirth" style="font-weight:bold;">Time of Birth</span></h6>
                                    <h5>
                                        <span id="lblTimeofBirth">02:01:02 (22-Aug-1990)</span></h5>



                                </div>

                            </div>
                            <div id="UpdatePanel1" class="edit_page_details_item_desc clearfix">

                                <div>

                                    <h6>
                                        <span id="PlaceofBirth" style="font-weight:bold;">Place of Birth</span></h6>
                                    <h5>
                                        <span id="lblPlaceofBirth">BHEL,Hyderabad,Telangana,India</span>
                                    </h5>




                                </div>

                            </div>
                            <div id="UpdatePanel2" class="edit_page_details_item_desc clearfix">

                                <div id="Div1">

                                    <h6>
                                        <span id="Telugustar" style="font-weight:bold;">Star Language</span></h6>
                                    <h5>
                                        <span id="lblTelugustar">Telugu Star - Bharani (1)</span></h5>
                                </div>

                            </div>
                            <div id="UpdatePanel11" class="edit_page_details_item_desc clearfix">

                                <div id="Div2">

                                    <h6>
                                        <span id="raasimoonsign" style="font-weight:bold;">Raasi/moon sign</span></h6>
                                    <h5>
                                        <span id="lblraasimoonsign">mesha</span></h5>
                                </div>

                            </div>
                            <div id="UpdatePanel6" class="edit_page_details_item_desc clearfix">

                                <div visible="True">

                                    <h6>
                                        <span id="Lagnam" style="font-weight:bold;">Lagnam</span></h6>
                                    <h5>
                                        <span id="lblLagnam">Dhansu</span></h5>

                                </div>

                            </div>
                            <div id="UpdatePanel5" class="edit_page_details_item_desc clearfix">

                                <div visible="True">

                                    <h6>
                                        <span id="GothramGotra" style="font-weight:bold;">Gothram/Gotra</span></h6>
                                    <h5>
                                        <span id="lblGothramGotra">erfef</span></h5>

                                </div>

                            </div>
                            <div id="UpdatePanel8" class="edit_page_details_item_desc clearfix">

                                <div visible="True">

                                    <h6>
                                        <span id="MaternalGothram" style="font-weight:bold;">Maternal Gothram</span></h6>
                                    <h5>
                                        <span id="lblMaternalGothram">sfsdfdsfs</span></h5>

                                </div>

                            </div>
                            <div id="UpdatePanel7" class="edit_page_details_item_desc clearfix">

                                <div visible="True">

                                    <h6>
                                        <span id="manglikkujadosham" style="font-weight:bold;">manglik/kuja dosham</span></h6>
                                    <h5>
                                        <span id="lblmanglikkujadosham">Doesn't matter</span></h5>

                                </div>

                            </div>
                        </div>

                        <div id="UpdatePanel3" class="edit_page_item_ui clearfix">

                            <a onclick="return AllowWebUser('Astro Details');" id="LinkButton2" class="edit_page_edit_button" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$EditAstroCommanUserControls$listastro$ctrl0$LinkButton2','')">Edit</a>

                        </div>

                        <br>



                    </div>

                </div>


            </div>
        </div>


    </div>
</div>


    <div class="edit_page_details_item_desc clearfix" style="padding: 0 0 0 20px; display: none" id="divGenerateUpload">
        
                <!--<asp:RadioButtonList ID="rdlUploadGenerate" runat="server" RepeatColumns="3" OnSelectedIndexChanged="rdlUploadGenerate_SelectedIndexChanged" AutoPostBack="true">
                    <asp:ListItem Value="0" Text="Upload Horoscope"></asp:ListItem>
                    <asp:ListItem Value="1" Text="Generate Horoscope"></asp:ListItem>
                </asp:RadioButtonList>-->
         
    </div>