<div class="edit_pages_content_main clearfix" ng-controller="parentCtrl">
    <div class="edit_page_item" id="divlnkaddparents">
        <div class="edit_page_item_head clearfix">
            <h4>Parents Details
                <span style="color: #08CFD2" id="spanEduModID" visible="false">
                    <asp:label id="lblParentsDetailsmodby" forecolor="#08CFD2"></asp:label>
                    </span>
            </h4>
            <div class="edit_page_item_ui clearfix">
                <a id="lnkaddparents" onclick="lnkaddparents_Click" data-toggle="tooltip" data-original-title="Add Parents Details" class="edit_page_add_button">Add</a>
            </div>
        </div>
        <div class="edit_page_details_item">
            <div id="listparents" ng-repeat="item in ParentArr">
                <div id="reviewdiv">
                    <div>
                        <div>
                            <div class="edit_page_details_item_desc clearfix">
                                <h6>
                                    <label id="lfathername"></label> Father Name</h6>
                                <h5>
                                    <label id="LBfathername">{{item.FatherName}}</label>
                                </h5>

                            </div>

                            <a id="LinkButton1dfd" data-placement="bottom" data-toggle="tooltip" data-original-title="Edit Parents Details" class="edit_page_edit_button"
                                onclick="return AllowWebUser('Parents Details');">Edit</a>


                        </div>

                        <div class="edit_page_details_item_desc clearfix">

                            <h6>
                                <label id="lblfathereducation" font-bold="true">Education</label>
                            </h6>

                            <h5>
                                <label id="lblfathereducationdetails">
                                    {{(item.FatherEducationDetails=null && item.FatherEducationDetails!="?item.FatherEducationDetails:""}}
                            </label>
                            </h5>

                        </div>

                        <div class="edit_page_details_item_desc clearfix">

                            <h6>
                                <label id="lblFatherprofession" font-bold="true">Profession</label>
                            </h6>

                            <h5>
                                <label id="lblfatherprofessiondetails">
                                    {{((item.FatherProfDetails.ToString()!=null && (item.FatherProfDetails.ToString()!="?item.FatherProfDetails:") }}
                            </label>
                            </h5>
                        </div>


                        <div class="edit_page_details_item_desc clearfix" id="fathercompnay">

                            <h6>
                                <label id="lblfatherprofessionloc" font-bold="true">Company & JobLocation</label>
                            </h6>
                            <h5>
                                <label id="lblfatherprofandloc">
                                    {{((item.FathercompanyName.ToString()!=null && (item.FathercompanyName.ToString()!="?item.FathercompanyName:"NotSpecified)
                                        +" "+((item.FatherJoblocation.ToString()!=null && (item.FatherJoblocation.ToString()!="?"," +" "+item.FatherJoblocation:item.FatherJoblocation))}}
                            </label>
                            </h5>

                        </div>

                        <div id="ownerdiv0">

                            <div class="edit_page_details_item_desc clearfix">
                                <h6>
                                    <label id="lblfathernumber" font-bold="true">Father contact nos</label>
                                </h6>
                                <h5>
                                    <label id="lblfathermobile">
                                        <%#((item.FatherMobilenumber.ToString()!=null && (item.FatherMobilenumber.ToString()!="?item.FatherMobilenumber:")
                                        +" "+((item.FatherLandNumber.ToString()!=null && (item.FatherLandNumber.ToString()!="?"&"+" "+item.FatherLandNumber:") }}
                                </label>
                                </h5>

                            </div>



                            <div class="edit_page_details_item_desc clearfix">
                                <h6>
                                    <label id="fatheremail" font-bold="true">Father Email</label>
                                </h6>
                                <h5>
                                    <label id="lblFatherEmail">
                                        {{ item.FatherEmail }}
                                </label>
                                </h5>
                            </div>

                        </div>



                        <div class="edit_page_details_item_desc clearfix">

                            <h6>
                                <label id="lblfathersfather">Father's Father Name</label></h6>
                            <h5>
                                <label id="lblfathersfath">
                                    {{  ((item.FatherFathername.ToString()!=null && (item.FatherFathername.ToString()!="?item.FatherFathername:")
                                        }}
                            </label>
                            </h5>
                        </div>

                        <div id="ownerdiv1">

                            <div class="edit_page_details_item_desc clearfix">

                                <h6>
                                    <label id="FFContactNos">FF contact nos</label></h6>
                                <h5>
                                    <label id="lblFFContactNos">
                                        {{((item.FFMobileNumberWithcode.ToString()!=null && (item.FFMobileNumberWithcode.ToString()!="?item.FFMobileNumberWithcode:")
                                       + ((item.FFLandNumberwithCode!=null && item.FFLandNumberwithCode.ToString()!="?" & "+item.FFLandNumberwithCode:" }}
                                </label>
                                </h5>
                            </div>

                        </div>

                        <div class="edit_page_details_item_desc clearfix">

                            <h6>
                                <label id="FnativePlace" font-bold="true">Native Place</label>
                            </h6>
                            <h5>
                                <label id="lblFnativePlace">
                                    {{
                                        ((item.FatherNativeplace!=null && item.FatherNativeplace.ToString()!="?item.FatherNativeplace:"" )+
                                        ((item.FatherDistric!=null && item.FatherDistric.ToString()!="?" ,"+item.FatherDistric:"+
                                        ((item.FatherState!=null && item.FatherState.ToString()!="?" ,"+item.FatherState:"" )+
                                        ((item.FatherCountry!=null && item.FatherCountry.ToString()!="?" ,"+item.FatherCountry:"" )}}
                            </label>
                            </h5>
                        </div>




                    </div>

                    <div>
                        <hr />

                        <div class="edit_page_details_item_desc clearfix">

                            <h6>
                                <label id="lblmothername" font-bold="true" forecolor="Red">
                                Mother Name
                            </label>
                            </h6>

                            <h5>
                                <label id="lblmothernameandedu">
                                    {{item.MotherName}}
                            </label>
                            </h5>
                        </div>


                        <div class="edit_page_details_item_desc clearfix">

                            <h6>
                                <label id="lbleducationmother">Education</label></h6>

                            <h5>
                                <label id="lblmotherducation">
                                    {{ ((item.MotherEducationDetails!=null && item.MotherEducationDetails.ToString()!="?item.MotherEducationDetails:"" )}}
                            </label>
                            </h5>
                        </div>


                        <div class="edit_page_details_item_desc clearfix">

                            <h6>
                                <label id="lblprofessionmotherr" font-bold="true">Profession</label>
                            </h6>

                            <h5>
                                <label id="lblmotherprofdetails">
                                    {{((item.MotherProfedetails!=null && item.MotherProfedetails.ToString()!="?
                                                item.MotherProfedetails:"" )}}
                            </label>
                            </h5>
                        </div>

                        <div id="mothercompany" class="edit_page_details_item_desc clearfix">

                            <h6>
                                <label id="lblmotherprofession">Company & JobLocation</label></h6>
                            <h5>
                                <label id="lblmotherprofandloc">
                                    {{((item.MothercompanyName.ToString()!=null && (item.MothercompanyName.ToString()!="?item.MothercompanyName:")+" "+
                                            ((item.MotherJoblocation.ToString()!=null && (item.MotherJoblocation.ToString()!="?", "+" "+
                                            item.MotherJoblocation:item.MotherJoblocation))}}
                                </label>
                            </h5>
                        </div>

                        <div id="ownerdiv2">

                            <div class="edit_page_details_item_desc clearfix">

                                <h6>
                                    <label id="lblmothercontacts">Mother contact nos</label></h6>
                                <h5>
                                    <label id="lblmompmobile">
                                        {{((item.MotherMobilenumber!=null && item.MotherMobilenumber.ToString()!="?item.MotherMobilenumber:"" )+" "+((item.MotherLandNumber.ToString()!=null && (item.MotherLandNumber.ToString()!="?"&"+" "+item.MotherLandNumber:")}}
                                </label>
                                </h5>
                            </div>

                            <div class="edit_page_details_item_desc clearfix">

                                <h6>
                                    <label id="lblmotheremail" font-bold="true">Mother Email</label>
                                </h6>
                                <h5>
                                    <label id="lblmomemail">
                                        {{ item.MotherEmail }}
                                </label>
                                </h5>

                            </div>

                        </div>

                        <div class="edit_page_details_item_desc clearfix">

                            <h6>
                                <label id="lblmotherfatherupp" font-bold="true">Mother's Father Name</label>
                            </h6>
                            <h5>
                                <label id="lblMotherFatherName">
                                    {{item.MotherFatherName }}
                            </label>
                            </h5>
                            </label>
                        </div>


                        <div class="edit_page_details_item_desc clearfix">

                            <h6>
                                <label id="MotherFatherLastName" font-bold="true">Mother's Father SurName</label>
                            </h6>
                            <h5>
                                <label id="lblMotherFatherLastName">
                                    {{item.MotherFatherLastName}}
                            </label>
                            </h5>
                        </div>

                        <div id="ownerdiv3">

                            <div class="edit_page_details_item_desc clearfix">

                                <h6>
                                    <label id="mContactNos" font-bold="true">MF Contact nos</label>
                                </h6>
                                <h5>
                                    <label id="lblmContactNos">
                                        {{ item.MMMobileNumberWithcode+
                                        ((item.MMLandNumberwithCode!=null && item.MMLandNumberwithCode.ToString()!="?" & "+item.MMLandNumberwithCode:" }}
                                </label>
                                </h5>
                            </div>

                        </div>

                        <div class="edit_page_details_item_desc clearfix">

                            <h6>
                                <label id="MNativePlace" font-bold="true">Native Place</label>
                            </h6>
                            <h5>
                                <label id="lblMNativePlace">
                                    {{((item.MotherNativeplace!=null && item.MotherNativeplace.ToString()!="?item.MotherNativeplace:" +
                                        ((item.MotherDistric!=null && item.MotherDistric.ToString()!="?" ,"+item.MotherDistric:"" )+
                                        ((item.MotherState!=null && item.MotherState.ToString()!="?" ,"+item.MotherState:"" )+
                                        ((item.MotherCountry!=null && item.MotherCountry.ToString()!="?" ,"+item.MotherCountry:"" )}}
                            </label>
                            </h5>
                        </div>

                    </div>
                    <div>
                        <div id="divParentIntercasteHide">

                            <div class="edit_page_details_item_desc clearfix">

                                <h6>
                                    <label id="ParentsInterCaste">Are Parents InterCaste</label></h6>
                                <h5>
                                    <label id="lblParentsInterCaste">{{item.Intercaste }}</label>
                                </h5>
                            </div>

                            <div class="edit_page_details_item_desc clearfix">

                                <h6>
                                    <label id="lFatherCaste">Father Caste</label></h6>
                                <h5>
                                    <label id="lblFatherCaste">{{item.FatherCaste }}</label>
                                </h5>
                            </div>

                            <div class="edit_page_details_item_desc clearfix">

                                <h6>
                                    <label id="lMotherCaste"></label>
                                </h6>
                                <h5>
                                    <label id="lblMotherCaste">{{item.MotherCaste }}</label>
                                </h5>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <hr />


        </div>
    </div>
    <div class="edit_page_item" id="divlnkAddcontactaddress">
        <div class="edit_page_item_head clearfix">
            <h4>Contact Address
               
            </h4>
            <div class="edit_page_item_ui clearfix">

                <a id="lnkAddcontactaddress" text="Add" onclick="lnkaddparents_Click" data-toggle="tooltip" data-original-title="Add Contact Address"
                    cssclass="edit_page_add_button"></a>

            </div>
        </div>
        <div class="edit_page_details_item">

            <div id="lstContactAddress" onitemcommand="lstContactAddress_ItemCommand" onitemdatabound="listparents_ItemDataBound">

                <div id="Div1" class="edit_page_details_item_desc clearfix">

                    <div class="edit_page_details_item_desc clearfix">
                        l
                        <h6>
                            <label id="lblhousenum" text="House/Flat No" font-bold="true"></label>
                        </h6>
                        <h5>
                            <label id="lblhouseflat">
                                {{ item.FlatNumber}}
                        </label>
                        </h5>
                    </div>

                    <div id="divapartment" class="edit_page_details_item_desc clearfix">
                        <h6>
                            <label id="lblapartmentname" text="Apt Name" font-bold="true"></label>
                        </h6>
                        <h5>
                            <label id="lblapartment">
                                {{ item.ApartmentName}}
                        </label>
                        </h5>
                    </div>

                    <a id="lnkcontact" class="edit_page_edit_button" onclientclick="return AllowWebUser('Contact Address');">Edit</a>


                    <div id="divareaname" class="edit_page_details_item_desc clearfix">

                        <h6>
                            <label id="lblareaname" font-bold="true">Area Name</label>
                        </h6>
                        <h5>
                            <label id="lblareanamee">
                                {{ item.AreaName}}
                        </label>
                        </h5>

                    </div>

                    <div class="edit_page_details_item_desc clearfix">

                        <h6>
                            <label id="lblstreet" font-bold="true">Street Name</label>
                        </h6>
                        <h5>
                            <label id="lblstreetname">
                                {{ item.StreetName}}
                        </label>
                        </h5>

                    </div>

                    <div class="edit_page_details_item_desc clearfix">

                        <h6>
                            <label id="lblland" font-bold="true">Land Mark</label>
                        </h6>
                        <h5>
                            <label id="lbllandmark">
                                {{ item.LandMark}}
                        </label>
                        </h5>

                    </div>

                    <div class="edit_page_details_item_desc clearfix">

                        <h6>
                            <label id="lblcityy" font-bold="true">City</label>
                        </h6>
                        <h5>
                            <label id="lblcityname">
                                {{ item.CityName+" "+(item.DistrictName!=null?","+ item.DistrictName:"+(item.StateName!=null?","+ item.StateName:"+(item.CountryName!=null?","+item.CountryName:"+(item.Zip!=null?"-"+item.Zip:" }}
                        </label>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="edit_page_item" id="divlnkAddphsysicall">
        <div class="edit_page_item_head clearfix">
            <h4>Physical Attribute & Health Details of Candidate</h4>
            <div class="edit_page_item_ui clearfix">

                <a id="lnkAddphsysicall" onclick="lnkaddparents_Click" data-toggle="tooltip" data-original-title="Add Physical Attribute & Health Details"
                    class="edit_page_add_button">Add</a>
            </div>
        </div>
        <div class="edit_page_details_item">

            <div id="lstPhysicalAttribute" onitemcommand="lstPhysicalAttribute_ItemCommand" onitemdatabound="listparents_ItemDataBound">

                <div id="Div2" class="edit_page_details_item_desc clearfix">

                    <div class="edit_page_details_item_desc clearfix">
                        <h6>
                            <label id="lbllDiet" font-bold="true">Diet</label></h6>
                        <h5>
                            <label id="lblDiet">
                                {{ item.Diet}}
                            </label>
                        </h5>
                    </div>
                    <div class="edit_page_details_item_desc clearfix">
                        <h6>
                            <label id="lbllDrink">Drink</label></h6>
                        <h5>
                            <label id="lblDrink">
                                {{ item.Drink}}
                            </label>
                        </h5>
                    </div>

                    <div class="edit_page_details_item_desc clearfix">
                        <h6>
                            <label id="lbllSmoke"></label>
                        </h6>
                        <h5>
                            <label id="lblSmoke">
                                {{ item.Smoke}}
                            </label>
                        </h5>
                    </div>

                    <div class="edit_page_details_item_desc clearfix">
                        <h6>
                            <label id="lbllBodyType">Body Type</label></h6>
                        <h5>
                            <label id="lblBodyType">
                                {{ item.BodyType}}
                            </label>
                        </h5>
                    </div>

                    <div class="edit_page_details_item_desc clearfix">

                        <h6>
                            <label id="lblbodyweight" font-bold="true">Body Weight</label>
                        </h6>
                        <h5>
                            <label id="lblweight">
                                {{ item.BodyWeight}}
                        </label>
                        </h5>
                    </div>

                    <div class="edit_page_details_item_desc clearfix">
                        <h6>
                            <label id="lblbloodgroup" font-bold="true">Blood Group</label>
                        </h6>
                        <h5>
                            <label id="lblbloodgrop">
                                {{ item.BloodGroupName}}
                        </label>
                        </h5>
                    </div>

                    <div class="edit_page_details_item_desc clearfix">
                        <h6>
                            <label id="lblhealthconditions" font-bold="true">Health Conditions</label>
                        </h6>
                        <h5>
                            <label id="lblhealthcondition">
                                {{ item.Healthcondition}}
                        </label>
                        </h5>
                    </div>

                    <a id="lnkphysical" data-toggle="tooltip" data-original-title="Edit Physical Attribute & Health Details" class="edit_page_edit_button"
                        onclientclick="return AllowWebUser('Physical Attribute');">Edit</a>

                    <div class="edit_page_details_item_desc clearfix">
                        <h6>
                            <label id="lblhealthdescription" font-bold="true">Health Condition Description</label>
                        </h6>
                        <h5>
                            <label id="lblhealthdescriptions">
                                {{ item.HealthConditionDescription}}
                        </label>
                        </h5>
                    </div>
                </div>


            </div>

        </div>
    </div>
    <div class="edit_page_item" id="divlnkaboutt">
        <div class="edit_page_item_head clearfix">
            <h4>About My Family </h4>
            <div class="edit_page_item_ui clearfix">
                <a id="lnkaboutt" text="Add" onclick="lnkaddparents_Click" data-toggle="tooltip" data-original-title="Add About My Family"
                    cssclass="edit_page_add_button"></a>
            </div>
        </div>
        <div class="edit_page_details_item">
            <div id="lstAboutMyFamily" onitemdatabound="listparents_ItemDataBound">

                <div id="Div3" class="edit_page_details_item_desc clearfix">
                    <div>
                        <div>
                            <h5>
                                <label id="lblAboutMyFamily">
                                    {{item.aboutmyfamily }}
                                </label>
                            </h5>
                            <label id="Label5" visible="false"></label>
                        </div>


                        <a id="lnkaboutmyfamilyyy" onclick="lnkaboutmyfamilyyy_Click" class="edit_page_edit_button" onclientclick="return AllowWebUser('About My Family');"
                            data-toggle="tooltip" data-original-title="Edit About My Family">Edit</a>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>