<div class="edit_pages_content_main clearfix">
    <div class="edit_page_item">
        <div class="edit_page_item_head clearfix">
            <h4>Reference Details
            </h4>

            <div class="edit_page_item_ui clearfix">
                <div id="uplnkrefrenceadd">

                    <a id="lnkrefrenceadd" class="edit_page_add_button" href="javascript:void(0)" ng-click="referencePopulate();">Add</a>

                </div>
            </div>
        </div>


        <div class="edit_page_details_item" ng-repeat="item in ReferenceArr">
            <div id="fullupdate">

                <div id="reviewdiv" class="edit_page_details_item_desc clearfix">
                    <div>
                        <div id="uplRelationShipType">

                            <div class="edit_page_details_item_desc clearfix">
                                <h6>
                                    <span id="RelationShipType" style="font-weight:bold;">RelationShip Type</span></h6>
                                <h5>
                                    <span id="lblRelationShipType">{{item.Relatioshiptype }}</span></h5>
                            </div>

                        </div>
                        <div id="uplreferenceEditdgdf" class="edit_page_item_ui clearfix">

                            <a onclick="return AllowWebUser('Reference Details');" id="lnkreferencefgbf" class="edit_page_edit_button" href="javascript:void(0);" ng-click="referencePopulate();">Edit</a>
                        </div>

                    </div>
                    <div id="uplName">

                        <div class="edit_page_details_item_desc clearfix">

                            <h6>
                                <span id="Name" style="font-weight:bold;">Name</span></h6>
                            <h5>
                                <span id="lblName">{{item.RefrenceName }}</span></h5>

                        </div>

                    </div>

                    <div id="uplEducationRef">



                    </div>
                    <div id="uplProfessionDetails">

                        <div class="edit_page_details_item_desc clearfix">
                            <h6>
                                <span id="ProfessionDetails" style="font-weight:bold;">Profession</span></h6>
                            <h5>
                                <span id="lblProfessionDetails">{{item.RefrenceProfessionDetails }}</span>
                            </h5>
                        </div>

                    </div>
                    <div id="uplNativePlace">

                        <div class="edit_page_details_item_desc clearfix">
                            <h6>
                                <span id="NativePlace" style="font-weight:bold;">Native Place</span></h6>
                            <h5>
                                <span id="lblNativePlace">{{item.RefrenceNativePlace }}</span></h5>
                        </div>

                    </div>
                    <div id="uplCurrentLocation">

                        <div class="edit_page_details_item_desc clearfix">

                            <h6>
                                <span id="CurrentLocation" style="font-weight:bold;">Current Location</span></h6>
                            <h5>
                                <span id="lblCurrentLocation">{{item.RefenceCurrentLocation }}</span></h5>

                        </div>

                    </div>
                    <div id="update0">

                        <div id="ownerdiv0">

                            <div id="uplContacts">

                                <div class="edit_page_details_item_desc clearfix">
                                    <h6>
                                        <span id="Contacts" style="font-weight:bold;">Contacts</span></h6>
                                    <h5>
                                        <span id="lblContacts">{{item.RefrenceMobileNumberWithcode+(item.RefrenceLandNumberwithCode!=null&&item.RefrenceLandNumberwithCode!=""?"&"+item.RefrenceLandNumberwithCode:"") }}</span></h5>
                                </div>

                            </div>
                            <div id="uplEmail">

                                <div class="edit_page_details_item_desc clearfix">
                                    <h6>
                                        <span id="Email" style="font-weight:bold;">Email</span></h6>
                                    <h5>
                                        <span id="lblEmail">{{item.RefrenceEmail }}</span></h5>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div id="uplNarration">

                        <div class="edit_page_details_item_desc clearfix">
                            <h6>
                                <span id="Narration" style="font-weight:bold;">Narration</span></h6>
                            <h5>
                                <span id="lblNarration">{{item.RefrenceNarration }}</span></h5>
                        </div>

                    </div>
                    <hr>

                </div>

            </div>
        </div>
    </div>

    <script type="text/ng-template" id="referenceContent.html">
        <div class="modal-header">
            <h3 class="modal-title text-center">Reference Details </h3>
        </div>
        <div class="modal-body" id="modal-body">

            <ul id="ulreference" class='modal-body clearfix pop_content_my'>
                <li class="clearfix">
                    <label for="Relationshiptype" class="pop_label_left">Relationship type<span style="color: red; margin-left: 3px;">*</span></label>
                    <div class="pop_controls_right select-box-my">

                        <select multiselectdropdown ng-model="ddlRelationshiptype"></select>

                    </div>
                </li>
                <li class="clearfix">
                    <label for="Firstname" class="pop_label_left">First name<span style="color: red; margin-left: 3px;">*</span></label>
                    <div class="pop_controls_right select-box-my">
                        <input id="txtFname" class="form-control" tabindex="2" maxlength="100" />
                    </div>
                </li>
                <li class="clearfix">
                    <label for="Lastname" class="pop_label_left">Last name<span style="color: red; margin-left: 3px;">*</span></label>
                    <div class="pop_controls_right select-box-my">
                        <input id="txtLname" class="form-control" tabindex="3" maxlength="50" />
                    </div>

                </li>
                <li id="Li1" visible="false" class="clearfix">
                    <label for="lblEducation" class="pop_label_left">Education</label>
                    <div class="pop_controls_right select-box-my">
                        <input id="txtEducation" class="form-control" maxlength="150" />
                    </div>
                </li>
                <li class="clearfix">
                    <label for="Professiondetails" class="pop_label_left">Profession</label>
                    <div class="pop_controls_right select-box-my">
                        <input id="txtProfessiondetails" class="form-control" tabindex="4" maxlength="200" />
                    </div>

                </li>
                <li class="clearfix">
                    <label for="lblCountry" class="pop_label_left">Country<span style="color: red; margin-left: 3px;">*</span></label>
                    <div class="pop_controls_right select-box-my">
                        <select multiselectdropdown ng-model="ddlCountry"></select>
                    </div>
                </li>
                <li class="clearfix">
                    <label for="lblState" class="pop_label_left">State<span style="color: red; margin-left: 3px;">*</span></label>
                    <div class="pop_controls_right select-box-my">

                        <select multiselectdropdown ng-model="ddlState"></select>
                    </div>
                </li>
                <li class="clearfix">
                    <div id="divdistrict">
                        <label for="lblDistrict" class="pop_label_left">District</label>
                        <div class="pop_controls_right select-box-my">

                            <select multiselectdropdown ng-model="ddlDistrict"></select>
                        </div>
                    </div>


                </li>
                <li class="clearfix">
                    <label for="NativePlace" class="pop_label_left">Native place<span style="color: red; margin-left: 3px;">*</span></label>
                    <div class="pop_controls_right select-box-my">


                        <input id="txtNativePlace" class="form-control" tabindex="8" maxlength="100" />

                    </div>
                </li>
                <li class="clearfix">
                    <label for="lblPresentlocation" class="pop_label_left">Present location </label>
                    <div class="pop_controls_right select-box-my">


                        <input id="txtPresentlocation" class="form-control" tabindex="9" maxlength="100" />


                    </div>

                </li>


                <div id="ownerdiv1">

                    <li class="clearfix" id="referencenumbersdiv">
                        <label for="lblContactNumbersReference" class="pop_label_left">Contact Numbers</label>
                        <div class="pop_controls_right">

                            <a id="lnlmobileereference" data-toggle="tooltip" data-original-title="Add Mobile NUmber" tabindex="10">
                                <span class="glyphicon glyphicon-phone"></span>
                            </a>


                            <a id="lnklandlinereference" data-toggle="tooltip" data-original-title="Add  Land Number" tabindex="11">
                                <span class="glyphicon glyphicon-phone-alt"></span>
                            </a>


                            <a id="lnkreferenceemail" data-toggle="tooltip" data-original-title="Add  Email ID" tabindex="12">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </a>
                        </div>
                    </li>
                    <li class="clearfix">


                        <div id="mobilerefDiv">
                            <label for="lblMobile" class="pop_label_left">Mobile #</label>
                            <div class="pop_controls_right select-box-my select-box-my-double">
                                <select multiselectdropdown ng-model="ddlMobileCountryID"></select>
                                <input id="txtMobileNumber" maxlength="10" tabindex="14" onkeydown="return validatemobilecode('ddlMobileCountryID','txtMobileNumber','','#ctl00_ContentPlaceHolder1_EditCustomerReference_');" />
                                <label id="lblOwnerReferenceMobileNumber" text="" visible="false"></label>

                            </div>
                        </div>


                    </li>




                    <div id="divalternativemob">
                        <li class="clearfix">
                            <label for="lblMobileref" class="pop_label_left">Altenate Number</label>
                            <div class="pop_controls_right select-box-my select-box-my-double">
                                <select multiselectdropdown ng-model="ddlMobileCountryID2"></select>
                                <input id="txtMobileNumber2" text="" class="form-control" onkeydown="return validatemobilecode('ddlMobileCountryID2',
                                                    'txtMobileNumber2','','#ctl00_ContentPlaceHolder1_EditCustomerReference_');" maxlength="10" tabindex="16" />

                            </div>
                        </li>
                    </div>

                    <div id="landLineRefDiv">
                        <li class="clearfix">
                            <label for="lblLandLine" class="pop_label_left">Land line #  </label>
                            <div class="pop_controls_right select-box-my select-box-my-trible">


                                <select multiselectdropdown ng-model="ddlLandLineCountryID"></select>

                                <input id="txtAreCode" text="" class="form-control " maxlength="4" tabindex="18" onkeydown="return validatemobilecode('ddlLandLineCountryID',
                                                    'txtLandNumber','txtAreCode','#ctl00_ContentPlaceHolder1_EditCustomerReference_');" />

                                <label id="lblOwnerReferenceLandcode" text="" visible="false"></label>

                                <asp:filteredtextboxextender validchars="1234567890" id="FilteredTextBoxExtendertxtAreCode" targetcontrolid="txtAreCode" filtertype="Custom" filtermode="ValidChars">
                                </asp:filteredtextboxextender>
                                <input id="txtLandNumber" text="" class="form-control" maxlength="8" tabindex="19" onkeydown="return validatemobilecode('ddlLandLineCountryID',
                                                    'txtLandNumber','txtAreCode','#ctl00_ContentPlaceHolder1_EditCustomerReference_');" />

                            </div>
                        </li>
                    </div>


                    <li class="clearfix">


                        <div id="divemailreference" style="display: none;">

                            <label for="lblEmail" class="pop_label_left">Email</label>
                            <div class="pop_controls_right select-box-my">

                                <input id="txtEmails" class="form-control" tabindex="20" />
                                <label id="lblOwnerReferenceEmail" text="" visible="false"></label>

                            </div>
                        </div>


                    </li>
                </div>


                <li class="clearfix">
                    <label for="lblNarration" class="pop_label_left">Narration</label>
                    <div class="">
                        <textarea id="txtNarrations" class="form-control" textmode="MultiLine" tabindex="21" rows="4" width="515" maxlength="500" onkeydown="return CharacterCount()" onkeyup="return CharacterCount()"></textarea>

                        <label id="lblnarrationcount" style="color: #1e1c1c; font-size: 13px;"></label>
                    </div>
                </li>
            </ul>


        </div>
        <div class="modal-footer">
            <input value="Cancel" class="button_custom button_custom_reset" ng-click="cancel();" type="button">
            <input type="submit" value="Submit" ng-click="ProfSubmit(profObj);" class="button_custom" type="button">
        </div>
    </script>
</div>