<div class="edit_pages_content_main clearfix" ng-controller="relativeCtrl">

    <div class="edit_page_item">
        <div class="edit_page_item_head clearfix">
            <h4>Father's Brother Details &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </h4>
            <div class="edit_page_item_ui clearfix">
                <div id="UpdatePanelFatherDetailsadd">

                    <a id="lnkrelativesbrother" class="edit_page_add_button" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$EditCustomerRelative$lnkrelativesbrother','')"
                        tabindex="0">Add</a>

                </div>
            </div>
        </div>
        <div class="edit_page_details_item">
            <div id="fullupdatefatherbrother">



                <div id="reviewdiv" class="edit_page_details_item_desc clearfix" style="background-image:url(../../Customer/Images/img_kaaka_Seal_b.png); background-repeat: no-repeat;">
                    <div>
                        <div>
                            <div id="upFatherBrother" class="edit_page_details_item_desc clearfix">

                                <h6>
                                    <span id="FBName" style="font-weight:bold;">FB Name</span></h6>
                                <h5>
                                    <span id="lblFBName">{{item.FatherbrotherName+"("+item.FatherBrotherElderyounger+")"}}</span></h5>
                            </div>
                            <div id="UpdatePanellnkFatherBrother" class="edit_page_item_ui clearfix">

                                <a onclick="return AllowWebUser('Father Brother Details');" id="lnkFatherBrother" class="edit_page_edit_button" href="javascript:void(0);">Edit</a>



                            </div>

                        </div>
                        <div id="UpdatePanelFBProfession" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="FBEducation" style="font-weight:bold;">Education</span></h6>
                                <h5>
                                    <span id="lblFBEducation">{{item.FatherBrotherEducationDetails}}</span></h5>
                            </div>
                        </div>
                        <div id="UpdatePanelFBProfessionDetails" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="FBProfessionDetails" style="font-weight:bold;">Profession</span></h6>
                                <h5>
                                    <span id="lblProfessionDetails">{{item.FatherbrotherProfessionDetails }}</span></h5>

                            </div>

                        </div>

                        <div id="UpdatePanelFBCurrentLocation" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="FBCurrentLocation" style="font-weight:bold;">Current Location</span></h6>
                                <h5>
                                    <span id="lblCurrentLocation">{{item.FatherbrotherCurrentLocation }}</span></h5>

                            </div>

                        </div>
                        <div id="update0">

                            <div id="ownerdiv0">
                                <div id="UpdatePanelFBcontacts" class="edit_page_details_item_desc clearfix">

                                    <div>

                                        <h6>
                                            <span id="FBcontacts" style="font-weight:bold;">FB contacts</span></h6>
                                        <h5>
                                            <span id="lblFBcontacts">{{item.FatherbrotherMobileNumberWithCode+" "
                                        +(item.FatherbrotherLandnumberwithcode!=null&&item.FatherbrotherLandnumberwithcode.ToString()!=""?"&"+
                                        item.FatherbrotherLandnumberwithcode:" ") }}</span></h5>

                                    </div>

                                </div>
                                <div id="UpdatePanelFBEmail" class="edit_page_details_item_desc clearfix">

                                    <div>

                                        <h6>
                                            <span id="FBEmail" style="font-weight:bold;">FB Email</span></h6>
                                        <h5>
                                            <span id="lblFBEmail">{{item.FatherbrotherEmail }}</span></h5>

                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="edit_page_item">
        <div class="edit_page_item_head clearfix">
            <h4>Father's Sister Details &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </h4>
            <div class="edit_page_item_ui clearfix">
                <div id="UpdatePanellnkrelativefathersis">

                    <a id="lnkrelativefathersis" class="edit_page_add_button" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$EditCustomerRelative$lnkrelativefathersis','')"
                        tabindex="0">Add</a>

                </div>
            </div>
        </div>
        <div class="edit_page_details_item">
            <div id="fullupdatefathersister">

                <div id="reviewdiv" class="edit_page_details_item_desc clearfix" style="background-image:url(../../Customer/Images/img_kaaka_Seal_b.png); background-repeat: no-repeat;">
                    <div>
                        <div>
                            <div id="upFathersister" class="edit_page_details_item_desc clearfix">

                                <h6>
                                    <span id="FsName" style="font-weight:bold;">FsName</span></h6>
                                <h5>
                                    <span id="lblFsName">{{item.FatherSisterName+"("+item.FatherSisterElderyounger+")" }}</span>
                                </h5>

                            </div>
                            <div id="UpdatePanellnkFatherSister" class="edit_page_item_ui clearfix">

                                <a onclick="return AllowWebUser('Father Sister Details');" id="lnkFatherSister" class="edit_page_edit_button"
                                    href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$EditCustomerRelative$lstFatherSister$ctrl0$lnkFatherSister','')">Edit</a>




                            </div>

                        </div>
                        <div id="UpdatePanelFshName" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="FshName" style="font-weight:bold;">Fsh Name</span></h6>
                                <h5>
                                    <span id="lblFshName">{{item.FatherSisterSpouseName }}</span></h5>

                            </div>

                        </div>
                        <div id="UpdatePanelFshEducation" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="lblEducationfsh" style="font-weight:bold;">Fsh Education</span></h6>
                                <h5>
                                    <span id="lblFshEducation">{{item.FatherSisterSpouseEducationDetails }}</span></h5>
                            </div>

                        </div>
                        <div id="UpdatePanelFshprofessiondetails" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="Fshprofessiondetails" style="font-weight:bold;">Fsh Profession</span></h6>
                                <h5>
                                    <span id="lblFshprofessiondetails">{{item.FathersisterSpouseProfessionDetails }}</span></h5>
                            </div>

                        </div>

                        <div id="UpdatePanelFshCurrentLocation" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="FshCurrentLocation" style="font-weight:bold;">Fsh Current Location</span></h6>
                                <h5>
                                    <span id="lblFshCurrentLocation">{{item.FatherSisterCurrentLocation }}</span></h5>

                            </div>

                        </div>
                        <div id="UpdatePanelFshNativeplace" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="FshNativeplace" style="font-weight:bold;">Fsh Native Place</span></h6>
                                <h5>
                                    <span id="lblFshNativeplace">{{item.FathersisterSpouseNativePlace+" "+(item.FatherSisterSpousDistrict!=null && 
                                                item.FatherSisterSpousDistrict.ToString()!=""? ","+item.FatherSisterSpousDistrict:"")+" "+(item.FatherSisterSpousestate!=null && 
                                                item.FatherSisterSpousestate.ToString()!=""? ","+item.FatherSisterSpousestate:"")+" "+(item.FatherSisterSpousecountry!=null && 
                                                item.FatherSisterSpousecountry.ToString()!=""? ","+item.FatherSisterSpousecountry:"")  }}</span></h5>

                            </div>

                        </div>
                        <div id="update1">

                            <div id="ownerdiv1">
                                <div id="UpdatePanelFShcontactnos" class="edit_page_details_item_desc clearfix">

                                    <div>

                                        <h6>
                                            <span id="FShcontactnos" style="font-weight:bold;">FSh contact nos</span></h6>
                                        <h5>
                                            <span id="lblFSHcontacts">{{item.FatherSisterspouseMobileNumberWithCode+" "+(item.FatherSisterspouseLandnumberwithcode!=null&&
                                    item.FatherSisterspouseLandnumberwithcode.ToString()!=""?"&"+item.FatherSisterspouseLandnumberwithcode:"") }}</span></h5>
                                    </div>

                                </div>
                                <div id="UpdatePanelFSHEmail" class="edit_page_details_item_desc clearfix">

                                    <div>

                                        <h6>
                                            <span id="FSHEmail" style="font-weight:bold;">Fsh Email</span></h6>
                                        <h5>
                                            <span id="lblFSHEmail">{{item.FatherSisterspouseEmail }}</span></h5>

                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>
                </div>



            </div>
        </div>
    </div>
    <div class="edit_page_item">
        <div class="edit_page_item_head clearfix">
            <h4>Mother's Brother Details

            </h4>
            <div class="edit_page_item_ui clearfix">
                <div id="UpdatePanellnkrelativemotherbroadd">

                    <a id="lnkrelativemotherbro" class="edit_page_add_button" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$EditCustomerRelative$lnkrelativemotherbro','')"
                        tabindex="0">Add</a>

                </div>
            </div>
        </div>
        <div class="edit_page_details_item">
            <div id="fullupdatemotherbrother">

                <div id="reviewdiv" class="edit_page_details_item_desc clearfix" style="background-image:url(../../Customer/Images/img_kaaka_Seal_b.png); background-repeat: no-repeat;">
                    <div>
                        <div>
                            <div id="upmotherbrother" class="edit_page_details_item_desc clearfix">

                                <h6>
                                    <span id="MBName" style="font-weight:bold;">MB Name</span></h6>
                                <h5>
                                    <span id="lblMBName">{{item.MotherBrotherName+"("+item.MotherBrotherElderyounger+")" }}</span>
                                </h5>


                            </div>
                            <div id="UpdatePanellnkMotherBrotheredit" class="edit_page_item_ui clearfix">

                                <a onclick="return AllowWebUser('Mother Brother Details');" id="lnkMotherBrother" class="edit_page_edit_button"
                                    href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$EditCustomerRelative$lstMotherBrother$ctrl0$lnkMotherBrother','')">Edit</a>



                            </div>

                            <div id="UpdatePanellblMotherbrithereducationdetails" class="edit_page_details_item_desc clearfix">

                                <div>

                                    <h6>
                                        <span id="lblMotherbrithereducation" style="font-weight:bold;">Education</span></h6>
                                    <h5>
                                        <span id="lblMotherbrithereducationdetails">{{item.MotherBrotherEducationDetails }}</span></h5>

                                </div>

                            </div>
                            <div id="UpdatePanelMBProfessionDetails" class="edit_page_details_item_desc clearfix">

                                <div>

                                    <h6>
                                        <span id="MBProfessionDetails" style="font-weight:bold;">Profession</span></h6>
                                    <h5>
                                        <span id="lblMBProfessionDetails">{{item.MotherBrotherProfessionDetails }}</span></h5>

                                </div>

                            </div>
                            <div id="UpdatePanelMBCurrentLocation" class="edit_page_details_item_desc clearfix">

                                <div>

                                    <h6>
                                        <span id="MBCurrentLocation" style="font-weight:bold;">Current Location</span></h6>
                                    <h5>
                                        <span id="lblMBCurrentLocation">{{item.MotherBrotherCurrentLocation }}</span></h5>

                                </div>

                            </div>
                            <div id="update2">

                                <div id="ownerdiv2">
                                    <div id="UpdatePanelMBcontacts" class="edit_page_details_item_desc clearfix">

                                        <div>

                                            <h6>
                                                <span id="MBcontacts" style="font-weight:bold;">MB contacts</span></h6>
                                            <h5>
                                                <span id="lblMBcontacts">{{item.MotherBrotherMobileNumberWithCode+" "+(item.MotherBrotherLandnumberwithcode!=null&& 
                                                    item.MotherBrotherLandnumberwithcode.ToString()!=""?"&"+item.MotherBrotherLandnumberwithcode:"") }}</span></h5>
                                        </div>

                                    </div>
                                    <div id="UpdatePanelMBEmail" class="edit_page_details_item_desc clearfix">

                                        <div>

                                            <h6>
                                                <span id="MBEmail" style="font-weight:bold;">MB Email</span></h6>
                                            <h5>
                                                <span id="lblMBEmail">{{item.MotherBrotherEmail }}</span></h5>

                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="edit_page_item">
        <div class="edit_page_item_head clearfix">
            <h4>Mother's Sister Details &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </h4>
            <div class="edit_page_item_ui clearfix">
                <div id="UpdatePanellnkrelativemothersisadd">

                    <a id="lnkrelativemothersis" class="edit_page_add_button" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$EditCustomerRelative$lnkrelativemothersis','')"
                        tabindex="0">Add</a>

                </div>
            </div>
        </div>
        <div class="edit_page_details_item">
            <div id="fullupdatemothersister">

                <div id="reviewdiv" class="edit_page_details_item_desc clearfix" style="background-image:url(../../Customer/Images/img_kaaka_Seal_b.png); background-repeat: no-repeat;">
                    <div>
                        <div>
                            <div id="upMothersister" class="edit_page_details_item_desc clearfix">

                                <h6>
                                    <span id="MsName" style="font-weight:bold;">MsName</span></h6>
                                <h5>
                                    <span id="lblMsName">{{item.MotherSisterName+"("+item.MotherSisterElderyounger+")" }}</span>
                                </h5>


                            </div>
                            <div id="UpdatePanellnkMotherSisteredit" class="edit_page_item_ui clearfix">

                                <a onclick="return AllowWebUser('Mother Sister Details');" id="lnkMotherSister" class="edit_page_edit_button"
                                    href="javascript:void(0);">Edit</a>
                            </div>
                        </div>
                        <div id="UpdatePanelMshName" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="MshName" style="font-weight:bold;">Msh Name</span></h6>
                                <h5>
                                    <span id="lblMshName">{{item.MotherSisterSpouseName}}</span></h5>
                            </div>

                        </div>

                        <div id="UpdatePanelmothersisteredu" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="lblMshEducation" style="font-weight:bold;">Msh Education</span></h6>
                                <h5>
                                    <span id="lblMshEducationdetails">{{item.MothersisterspouseEducationdetails }}</span></h5>
                            </div>

                        </div>
                        <div id="UpdatePanelMshprofessiondetails" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="Mshprofessiondetails" style="font-weight:bold;">Msh profession</span></h6>
                                <h5>
                                    <span id="lblMshprofessiondetails">{{item.MotherSisterProfessionDetails }}</span></h5>
                            </div>

                        </div>

                        <div id="UpdatePanelMshCurrentLocation" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="MshCurrentLocation" style="font-weight:bold;">Msh Current Location</span></h6>
                                <h5>
                                    <span id="lblMshCurrentLocation">{{item.MotherSisterCurrentLocation }}</span></h5>

                            </div>

                        </div>
                        <div id="UpdatePanelMshNativeplace" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="MshNativeplace" style="font-weight:bold;">Msh Native Place</span></h6>
                                <h5>
                                    <span id="lblMshNativeplace">{{item.MotherSisterSpouseNativePlace+" "+(item.Mothersisterspousedistrict!=null && 
                                                item.Mothersisterspousedistrict.ToString()!=""? ","+item.Mothersisterspousedistrict:"")+" "+(item.Motherssisterspousestate!=null && 
                                                item.Motherssisterspousestate.ToString()!=""? ","+item.Motherssisterspousestate:"")+" "+(item.MothersisterspouseCountry!=null && 
                                                item.MothersisterspouseCountry.ToString()!=""? ","+item.MothersisterspouseCountry:"")  }}    </span></h5>

                            </div>
                        </div>
                        <div id="update3">

                            <div id="ownerdiv3">
                                <div id="UpdatePanelMshcontactnos" class="edit_page_details_item_desc clearfix">

                                    <div>

                                        <h6>
                                            <span id="Mshcontactnos" style="font-weight:bold;">Msh contact nos</span></h6>
                                        <h5>
                                            <span id="lblMshcontactnos">{{item.MotherSisterspouseMobileNumberWithCode+" "+(item.MotherSisterspouseLandnumberwithcode!=null 
                                            && item.MotherSisterspouseLandnumberwithcode.ToString()!="" ?
                                            "&"+item.MotherSisterspouseLandnumberwithcode:"") }}</span></h5>
                                    </div>

                                </div>
                                <div id="UpdatePanelMsHEmail" class="edit_page_details_item_desc clearfix">

                                    <div>

                                        <h6>
                                            <span id="MsHEmail" style="font-weight:bold;">Msh Email</span></h6>
                                        <h5>
                                            <span id="lblMsHEmail">{{item.MotherSisterspouseEmail }}</span></h5>

                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>

