<div class="edit_pages_content_main clearfix" ng-controller="relativeCtrl">

    <div class="edit_page_item">
        <div class="edit_page_item_head clearfix">
            <h4>Father's Brother Details &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </h4>
            <div class="edit_page_item_ui clearfix">
                <div id="UpdatePanelFatherDetailsadd">

                    <a id="lnkrelativesbrother" class="edit_page_add_button" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$EditCustomerRelative$lnkrelativesbrother','')"
                        tabindex="0">Add</a>

                </div>
            </div>
        </div>
        <div class="edit_page_details_item">
            <div id="fullupdatefatherbrother">



                <div id="reviewdiv" class="edit_page_details_item_desc clearfix" style="background-image:url(../../Customer/Images/img_kaaka_Seal_b.png); background-repeat: no-repeat;">
                    <div>
                        <div>
                            <div id="upFatherBrother" class="edit_page_details_item_desc clearfix">

                                <h6>
                                    <span id="FBName" style="font-weight:bold;">FB Name</span></h6>
                                <h5>
                                    <span id="lblFBName">xdvxcv(Elder)</span></h5>



                            </div>
                            <div id="UpdatePanellnkFatherBrother" class="edit_page_item_ui clearfix">

                                <a onclick="return AllowWebUser('Father Brother Details');" id="lnkFatherBrother" class="edit_page_edit_button" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$EditCustomerRelative$lstFatherBrother$ctrl0$lnkFatherBrother','')">Edit</a>



                            </div>

                        </div>
                        <div id="UpdatePanelFBProfession" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="FBEducation" style="font-weight:bold;">Education</span></h6>
                                <h5>
                                    <span id="lblFBEducation">xcvxcvxc</span></h5>


                            </div>

                        </div>
                        <div id="UpdatePanelFBProfessionDetails" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="FBProfessionDetails" style="font-weight:bold;">Profession</span></h6>
                                <h5>
                                    <span id="lblProfessionDetails">xcvxcvxcv</span></h5>

                            </div>

                        </div>

                        <div id="UpdatePanelFBCurrentLocation" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="FBCurrentLocation" style="font-weight:bold;">Current Location</span></h6>
                                <h5>
                                    <span id="lblCurrentLocation">fghfghfghfgh</span></h5>

                            </div>

                        </div>
                        <div id="update0">

                            <div id="ownerdiv0">
                                <div id="UpdatePanelFBcontacts" class="edit_page_details_item_desc clearfix">

                                    <div>

                                        <h6>
                                            <span id="FBcontacts" style="font-weight:bold;">FB contacts</span></h6>
                                        <h5>
                                            <span id="lblFBcontacts">91-4456456455 &amp;91-5656-56757567</span></h5>

                                    </div>

                                </div>
                                <div id="UpdatePanelFBEmail" class="edit_page_details_item_desc clearfix">

                                    <div>

                                        <h6>
                                            <span id="FBEmail" style="font-weight:bold;">FB Email</span></h6>
                                        <h5>
                                            <span id="lblFBEmail">fhfghfhfghghfgh@gmail.com</span></h5>

                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="edit_page_item">
        <div class="edit_page_item_head clearfix">
            <h4>Father's Sister Details &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </h4>
            <div class="edit_page_item_ui clearfix">
                <div id="UpdatePanellnkrelativefathersis">

                    <a id="lnkrelativefathersis" class="edit_page_add_button" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$EditCustomerRelative$lnkrelativefathersis','')"
                        tabindex="0">Add</a>

                </div>
            </div>
        </div>
        <div class="edit_page_details_item">
            <div id="fullupdatefathersister">

                <div id="lstFatherSister_ctrl0_reviewdiv" class="edit_page_details_item_desc clearfix" style="background-image:url(../../Customer/Images/img_kaaka_Seal_b.png); background-repeat: no-repeat;">
                    <div>
                        <div>
                            <div id="lstFatherSister_ctrl0_upFathersister" class="edit_page_details_item_desc clearfix">

                                <h6>
                                    <span id="lstFatherSister_ctrl0_FsName" style="font-weight:bold;">FsName</span></h6>
                                <h5>
                                    <span id="lstFatherSister_ctrl0_lblFsName">ffghfgh(Younger)</span>
                                </h5>

                            </div>
                            <div id="lstFatherSister_ctrl0_UpdatePanellnkFatherSister" class="edit_page_item_ui clearfix">

                                <a onclick="return AllowWebUser('Father Sister Details');" id="lstFatherSister_ctrl0_lnkFatherSister" class="edit_page_edit_button"
                                    href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$EditCustomerRelative$lstFatherSister$ctrl0$lnkFatherSister','')">Edit</a>




                            </div>

                        </div>
                        <div id="lstFatherSister_ctrl0_UpdatePanelFshName" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="lstFatherSister_ctrl0_FshName" style="font-weight:bold;">Fsh Name</span></h6>
                                <h5>
                                    <span id="lstFatherSister_ctrl0_lblFshName">gfhfghfgh  fghfgh</span></h5>

                            </div>

                        </div>
                        <div id="lstFatherSister_ctrl0_UpdatePanelFshEducation" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="lstFatherSister_ctrl0_lblEducationfsh" style="font-weight:bold;">Fsh Education</span></h6>
                                <h5>
                                    <span id="lstFatherSister_ctrl0_lblFshEducation">fghfghfgh</span></h5>
                            </div>

                        </div>
                        <div id="lstFatherSister_ctrl0_UpdatePanelFshprofessiondetails" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="lstFatherSister_ctrl0_Fshprofessiondetails" style="font-weight:bold;">Fsh Profession</span></h6>
                                <h5>
                                    <span id="lstFatherSister_ctrl0_lblFshprofessiondetails">fghfghfgh</span></h5>
                            </div>

                        </div>

                        <div id="lstFatherSister_ctrl0_UpdatePanelFshCurrentLocation" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="lstFatherSister_ctrl0_FshCurrentLocation" style="font-weight:bold;">Fsh Current Location</span></h6>
                                <h5>
                                    <span id="lstFatherSister_ctrl0_lblFshCurrentLocation">grfgfghfgh</span></h5>

                            </div>

                        </div>
                        <div id="lstFatherSister_ctrl0_UpdatePanelFshNativeplace" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="lstFatherSister_ctrl0_FshNativeplace" style="font-weight:bold;">Fsh Native Place</span></h6>
                                <h5>
                                    <span id="lstFatherSister_ctrl0_lblFshNativeplace">546546546 ,Krishna ,Andhra Pradesh ,India</span></h5>

                            </div>

                        </div>
                        <div id="lstFatherSister_ctrl0_update1">

                            <div id="lstFatherSister_ctrl0_ownerdiv1">
                                <div id="lstFatherSister_ctrl0_UpdatePanelFShcontactnos" class="edit_page_details_item_desc clearfix">

                                    <div>

                                        <h6>
                                            <span id="lstFatherSister_ctrl0_FShcontactnos" style="font-weight:bold;">FSh contact nos</span></h6>
                                        <h5>
                                            <span id="lstFatherSister_ctrl0_lblFSHcontacts">91-4564564664 &amp;91--4564564645</span></h5>
                                    </div>

                                </div>
                                <div id="lstFatherSister_ctrl0_UpdatePanelFSHEmail" class="edit_page_details_item_desc clearfix">

                                    <div>

                                        <h6>
                                            <span id="lstFatherSister_ctrl0_FSHEmail" style="font-weight:bold;">Fsh Email</span></h6>
                                        <h5>
                                            <span id="lstFatherSister_ctrl0_lblFSHEmail">dfgdfgdfdfg@gmail.com</span></h5>

                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>
                </div>



            </div>
        </div>
    </div>
    <div class="edit_page_item">
        <div class="edit_page_item_head clearfix">
            <h4>Mother's Brother Details &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            </h4>
            <div class="edit_page_item_ui clearfix">
                <div id="UpdatePanellnkrelativemotherbroadd">

                    <a id="lnkrelativemotherbro" class="edit_page_add_button" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$EditCustomerRelative$lnkrelativemotherbro','')"
                        tabindex="0">Add</a>

                </div>
            </div>
        </div>
        <div class="edit_page_details_item">
            <div id="fullupdatemotherbrother">

                <div id="lstMotherBrother_ctrl0_reviewdiv" class="edit_page_details_item_desc clearfix" style="background-image:url(../../Customer/Images/img_kaaka_Seal_b.png); background-repeat: no-repeat;">
                    <div>
                        <div>
                            <div id="lstMotherBrother_ctrl0_upmotherbrother" class="edit_page_details_item_desc clearfix">

                                <h6>
                                    <span id="lstMotherBrother_ctrl0_MBName" style="font-weight:bold;">MB Name</span></h6>
                                <h5>
                                    <span id="lstMotherBrother_ctrl0_lblMBName">fghfghfgh(Elder)</span>
                                </h5>


                            </div>
                            <div id="lstMotherBrother_ctrl0_UpdatePanellnkMotherBrotheredit" class="edit_page_item_ui clearfix">

                                <a onclick="return AllowWebUser('Mother Brother Details');" id="lstMotherBrother_ctrl0_lnkMotherBrother" class="edit_page_edit_button"
                                    href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$EditCustomerRelative$lstMotherBrother$ctrl0$lnkMotherBrother','')">Edit</a>



                            </div>

                            <div id="lstMotherBrother_ctrl0_UpdatePanellblMotherbrithereducationdetails" class="edit_page_details_item_desc clearfix">

                                <div>

                                    <h6>
                                        <span id="lstMotherBrother_ctrl0_lblMotherbrithereducation" style="font-weight:bold;">Education</span></h6>
                                    <h5>
                                        <span id="lstMotherBrother_ctrl0_lblMotherbrithereducationdetails">ffghfghfh</span></h5>

                                </div>

                            </div>
                            <div id="lstMotherBrother_ctrl0_UpdatePanelMBProfessionDetails" class="edit_page_details_item_desc clearfix">

                                <div>

                                    <h6>
                                        <span id="lstMotherBrother_ctrl0_MBProfessionDetails" style="font-weight:bold;">Profession</span></h6>
                                    <h5>
                                        <span id="lstMotherBrother_ctrl0_lblMBProfessionDetails">fghfhrtfgh</span></h5>

                                </div>

                            </div>
                            <div id="lstMotherBrother_ctrl0_UpdatePanelMBCurrentLocation" class="edit_page_details_item_desc clearfix">

                                <div>

                                    <h6>
                                        <span id="lstMotherBrother_ctrl0_MBCurrentLocation" style="font-weight:bold;">Current Location</span></h6>
                                    <h5>
                                        <span id="lstMotherBrother_ctrl0_lblMBCurrentLocation">ghghnghng</span></h5>

                                </div>

                            </div>
                            <div id="lstMotherBrother_ctrl0_update2">

                                <div id="lstMotherBrother_ctrl0_ownerdiv2">
                                    <div id="lstMotherBrother_ctrl0_UpdatePanelMBcontacts" class="edit_page_details_item_desc clearfix">

                                        <div>

                                            <h6>
                                                <span id="lstMotherBrother_ctrl0_MBcontacts" style="font-weight:bold;">MB contacts</span></h6>
                                            <h5>
                                                <span id="lstMotherBrother_ctrl0_lblMBcontacts">91-6456445645 &amp;91-4564-45645654</span></h5>

                                        </div>

                                    </div>
                                    <div id="lstMotherBrother_ctrl0_UpdatePanelMBEmail" class="edit_page_details_item_desc clearfix">

                                        <div>

                                            <h6>
                                                <span id="lstMotherBrother_ctrl0_MBEmail" style="font-weight:bold;">MB Email</span></h6>
                                            <h5>
                                                <span id="lstMotherBrother_ctrl0_lblMBEmail">fghfhfhfg@gmail.com</span></h5>

                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="edit_page_item">
        <div class="edit_page_item_head clearfix">
            <h4>Mother's Sister Details &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </h4>
            <div class="edit_page_item_ui clearfix">
                <div id="UpdatePanellnkrelativemothersisadd">

                    <a id="lnkrelativemothersis" class="edit_page_add_button" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$EditCustomerRelative$lnkrelativemothersis','')"
                        tabindex="0">Add</a>

                </div>
            </div>
        </div>
        <div class="edit_page_details_item">
            <div id="fullupdatemothersister">

                <div id="lstMotherSister_ctrl0_reviewdiv" class="edit_page_details_item_desc clearfix" style="background-image:url(../../Customer/Images/img_kaaka_Seal_b.png); background-repeat: no-repeat;">
                    <div>
                        <div>
                            <div id="lstMotherSister_ctrl0_upMothersister" class="edit_page_details_item_desc clearfix">

                                <h6>
                                    <span id="lstMotherSister_ctrl0_MsName" style="font-weight:bold;">MsName</span></h6>
                                <h5>
                                    <span id="lstMotherSister_ctrl0_lblMsName">sdfsdfsd(Younger)</span>
                                </h5>


                            </div>
                            <div id="lstMotherSister_ctrl0_UpdatePanellnkMotherSisteredit" class="edit_page_item_ui clearfix">

                                <a onclick="return AllowWebUser('Mother Sister Details');" id="lstMotherSister_ctrl0_lnkMotherSister" class="edit_page_edit_button"
                                    href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$EditCustomerRelative$lstMotherSister$ctrl0$lnkMotherSister','')">Edit</a>


                            </div>

                        </div>
                        <div id="lstMotherSister_ctrl0_UpdatePanelMshName" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="lstMotherSister_ctrl0_MshName" style="font-weight:bold;">Msh Name</span></h6>
                                <h5>
                                    <span id="lstMotherSister_ctrl0_lblMshName">fsdfsdf  sdfsfsdf</span></h5>
                            </div>

                        </div>

                        <div id="lstMotherSister_ctrl0_UpdatePanelmothersisteredu" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="lstMotherSister_ctrl0_lblMshEducation" style="font-weight:bold;">Msh Education</span></h6>
                                <h5>
                                    <span id="lstMotherSister_ctrl0_lblMshEducationdetails">sdfsdfsd</span></h5>
                            </div>

                        </div>
                        <div id="lstMotherSister_ctrl0_UpdatePanelMshprofessiondetails" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="lstMotherSister_ctrl0_Mshprofessiondetails" style="font-weight:bold;">Msh profession</span></h6>
                                <h5>
                                    <span id="lstMotherSister_ctrl0_lblMshprofessiondetails">fsdfsdfsdf</span></h5>
                            </div>

                        </div>

                        <div id="lstMotherSister_ctrl0_UpdatePanelMshCurrentLocation" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="lstMotherSister_ctrl0_MshCurrentLocation" style="font-weight:bold;">Msh Current Location</span></h6>
                                <h5>
                                    <span id="lstMotherSister_ctrl0_lblMshCurrentLocation">dfgdfgdfgdfg</span></h5>

                            </div>

                        </div>
                        <div id="lstMotherSister_ctrl0_UpdatePanelMshNativeplace" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="lstMotherSister_ctrl0_MshNativeplace" style="font-weight:bold;">Msh Native Place</span></h6>
                                <h5>
                                    <span id="lstMotherSister_ctrl0_lblMshNativeplace">sdfsdfsdf ,Krishna ,Andhra Pradesh ,India</span></h5>

                            </div>


                        </div>
                        <div id="lstMotherSister_ctrl0_update3">

                            <div id="lstMotherSister_ctrl0_ownerdiv3">
                                <div id="lstMotherSister_ctrl0_UpdatePanelMshcontactnos" class="edit_page_details_item_desc clearfix">

                                    <div>

                                        <h6>
                                            <span id="lstMotherSister_ctrl0_Mshcontactnos" style="font-weight:bold;">Msh contact nos</span></h6>
                                        <h5>
                                            <span id="lstMotherSister_ctrl0_lblMshcontactnos">91-3453453453 &amp;91-3453-53453455</span></h5>
                                    </div>

                                </div>
                                <div id="lstMotherSister_ctrl0_UpdatePanelMsHEmail" class="edit_page_details_item_desc clearfix">

                                    <div>

                                        <h6>
                                            <span id="lstMotherSister_ctrl0_MsHEmail" style="font-weight:bold;">Msh Email</span></h6>
                                        <h5>
                                            <span id="lstMotherSister_ctrl0_lblMsHEmail"></span></h5>

                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>

