<div class="edit_pages_content_main clearfix">
    <div ng-repeat="item in partnerPrefArr">

        <div class="edit_page_item">
            <div class="edit_page_item_head clearfix">
                <h4>PartnerPreference Details
                </h4>
                <div class="edit_page_item_ui clearfix" ng-if="partnerPrefArr.length===0">
                    <a ng-click="partnerprefPopulate();" class="edit_page_add_button" href="javascript:void(0);">Add</a>
                </div>
            </div>
            <div class="edit_page_details_item">
                <div id="uppartner">
                    <div id="reviewdiv" ng-class="item.reviewstatus===false?'edit_page_details_item_desc clearfix reviewCls':'edit_page_details_item_desc clearfix'">

                        <div id="UpdatePanel21" class="edit_page_details_item_desc clearfix">
                            <h6>
                                <span id="partnergen" style="color:Red;font-weight:bold;">Gender</span></h6>
                            <h5>
                                <span id="lblpartnergen" style="color:Red;">{{ item.Gender}}</span></h5>
                        </div>
                        <div ng-if="partnerPrefArr.length>0" class="edit_page_item_ui clearfix">
                            <a ng-click="partnerprefPopulate(item);" class="edit_page_edit_button" href="javascript:void(0);">Edit</a>
                        </div>
                        <div id="UpdatePanel10" class="edit_page_details_item_desc clearfix">
                            <h6>
                                <span id="agegap" style="font-weight:bold;">Age Gap</span></h6>
                            <h5>
                                <span id="lblagegap">{{ item.AgeGap}}</span></h5>
                        </div>
                        <div id="UpdatePanel13" class="edit_page_details_item_desc clearfix">
                            <h6>
                                <span id="height" style="font-weight:bold;">Height</span></h6>
                            <h5>
                                <span id="lblheight">{{ item.Height}}</span></h5>

                        </div>
                        <div id="UpdatePanel15" class="edit_page_details_item_desc clearfix">
                            <h6>
                                <span id="mothertongue" style="font-weight:bold;">mother tongue</span></h6>

                            <h5>
                                <span id="lblmothertongue">{{ item.Mothertongue }}</span></h5>
                        </div>
                        <div id="UpdatePanel16" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="Religion" style="font-weight:bold;">Religion</span></h6>
                                <h5>
                                    <span id="lblReligion">{{ item.Religion}}</span></h5>
                            </div>

                        </div>
                        <div id="UpdatePanel17" class="edit_page_details_item_desc clearfix">

                            <div>
                                <h6>
                                    <span id="caste" style="font-weight:bold;">caste</span></h6>
                                <h5>
                                    <span id="lblcaste">{{ item.Caste}}</span></h5>
                            </div>

                        </div>
                        <div id="UpdatePanel1" class="edit_page_details_item_desc clearfix">


                            <div>

                                <h6>
                                    <span id="subcaste" style="font-weight:bold;">subcaste</span></h6>
                                <h5>
                                    <span id="lblsubcaste">{{ item.Subcaste}}</span></h5>
                            </div>


                        </div>
                        <div id="UpdatePanel2" class="edit_page_details_item_desc clearfix">


                            <div>

                                <h6>
                                    <span id="maritalstatus" style="font-weight:bold;">marital status</span></h6>
                                <h5>
                                    <span id="lblmaritalstatus">{{ item.MaritalStatus}}</span></h5>

                            </div>

                        </div>
                        <div id="updateeducationgroup" class="edit_page_details_item_desc clearfix">


                            <div>

                                <h6>
                                    <span id="Education" style="font-weight:bold;">Education</span></h6>
                                <h5>
                                    <span id="lblEducation">{{ item.EducationGroup!=null?item.EducationGroup:item.EducationCategory}}</span></h5>

                            </div>


                        </div>

                        <div id="UpdatePanel5" class="edit_page_details_item_desc clearfix">



                            <h6>
                                <span id="profession" style="font-weight:bold;">profession</span></h6>
                            <h5>
                                <span id="lblprofession">{{ item.ProfessionGroup}}</span></h5>

                        </div>

                        <div id="UpdatePanel6" class="edit_page_details_item_desc clearfix">


                            <div>

                                <h6>
                                    <span id="MangalikKujadosham" style="font-weight:bold;">Manglik/Kujadosham</span></h6>
                                <h5>
                                    <span id="lblMangalikKujadosham">{{ item.Kujadosham}}</span></h5>

                            </div>

                        </div>
                        <div id="UpdatePanel7" class="edit_page_details_item_desc clearfix">

                            <div>
                                <h6>
                                    <span id="preferredstarLanguage" style="font-weight:bold;">preferred star Language</span></h6>
                                <h5>
                                    <span id="lblpreferredstarLanguage">{{ item.StarLanguage}}</span></h5>
                            </div>


                        </div>

                        <div id="UpdatePanel8" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="preferredstar" style="font-weight:bold;">Non preferred stars</span></h6>
                                <h5>
                                    <span id="lblpreferredstar">{{ item.Stars}}</span></h5>

                            </div>

                        </div>
                        <div id="UpdatePanel12" class="edit_page_details_item_desc clearfix">

                            <div>


                                <h6>
                                    <span id="Diet" style="font-weight:bold;">Diet</span></h6>
                                <h5>
                                    <span id="lblDiet">{{ item.Diet}}</span></h5>

                            </div>

                        </div>
                        <div id="UpdatePanel18" class="edit_page_details_item_desc clearfix">
                            <div>

                                <h6>
                                    <span id="preferredCountry" style="font-weight:bold;">preferred Country</span></h6>
                                <h5>
                                    <span id="lblpreferredCountry">{{ item.CountryName}}</span></h5>

                            </div>

                        </div>
                        <div id="UpdatePanel19" class="edit_page_details_item_desc clearfix">
                            <div>
                                <h6>
                                    <span id="preferredState" style="font-weight:bold;">preferred State</span></h6>
                                <h5>
                                    <span id="lblpreferredState">{{ item.StateName}}</span></h5>
                            </div>

                        </div>
                        <div id="UpdatePanel36" class="edit_page_details_item_desc clearfix">
                            <div>
                                <h6>
                                    <span id="RegionName" style="font-weight:bold;">Region</span></h6>
                                <h5>
                                    <span id="lblRegionName">{{ item.RegionName}}</span></h5>
                            </div>
                        </div>
                        <div id="UpdatePanel40" class="edit_page_details_item_desc clearfix">
                            <div>
                                <h6>
                                    <span id="BranchName" style="font-weight:bold;">Branch</span></h6>
                                <h5>
                                    <span id="lblBranchName">{{ item.BranchName}}</span></h5>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="edit_page_item">
            <div class="edit_page_item_head clearfix">
                <h4>Partner Description ( Describe qualities you are looking for in your partner)</h4>
                <div class="edit_page_item_ui clearfix">
                    <div ng-if="item.PartnerDescripition==='' || item.PartnerDescripition===null">
                        <a id="lnkpartnerdesc" class="edit_page_add_button" href="javascript:void(0);" ng-click="partnerdescPopulate();"> Add</a>
                    </div>

                </div>
            </div>
            <div class="edit_page_details_item">

                <div>
                    <div id="UpdatePanel9" class="edit_page_details_item_desc clearfix">

                        <div class="edit_page_details_item_desc clearfix">
                            <h5>
                                <span id="lblpartnerdesc">{{ item.PartnerDescripition}}</span></h5>
                        </div>

                    </div>
                    <div ng-if="item.PartnerDescripition!=''  && item.PartnerDescripition!=null" class="edit_page_item_ui clearfix">
                        <a id="lnkpartnerdesc" class="edit_page_edit_button" href="javascript:void(0);" ng-click="partnerdescPopulate(item);"> Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="partnerPrefContent.html">

    <form name="partnerFormForm" novalidate role="form" ng-submit="partnerPrefSubmit(partnerObj)">
        <div class="modal-header">
            <h3 class="modal-title text-center" id="modal-title">Partnerprefernece details
                <a href="javascript:void(0);" ng-click="cancel();">
                    <ng-md-icon icon="close" style="fill:#c73e5f" class="pull-right" size="25">Delete</ng-md-icon>
                </a>
            </h3>
        </div>
        <div class="modal-body clearfix pop_content_my" id="modal-body">

            <ul id="divclear">
                <li class="clearfix form-group">
                    <label for="lblGender" class="pop_label_left">Gender</label>
                    <div class="pop_controls_right pop_radios_list clearfix">
                        <label>
                <input ng-model="partnerObj.rbtlGender" value="1" type="radio"><span>&nbsp;Male</span></label>
                        <label>
                <input ng-model="partnerObj.rbtlGender" value="2" type="radio"><span>&nbsp;Female</span></label>
                    </div>
                </li>
                <li class="clearfix form-group">
                    <label for="lblagegapp" class="pop_label_left">Age Gap<span style="color: red; margin-left: 3px;">*</span></label>
                    <div class="pop_controls_right select-box-my select-box-my-double input-group">
                        <select multiselectdropdown ng-model="partnerObj.ddlFromAge" ng-options="item.value as item.label for item in ageGapArr" required></select>
                        <select multiselectdropdown ng-model="partnerObj.ddlToAge" ng-options="item.value as item.label for item in ageGapArr" required></select>
                    </div>
                </li>
                <li class="clearfix form-group">
                    <label for="lblpatnerheight" class="pop_label_left">Height<span style="color: red; margin-left: 3px;">*</span></label>
                    <div class="pop_controls_right select-box-my select-box-my-double input-group">
                        <select multiselectdropdown required ng-model="partnerObj.ddlFromheight" typeofdata=height required></select>
                        <select multiselectdropdown required ng-model="partnerObj.ddltoHeight" typeofdata=height required></select>
                    </div>
                </li>
                <li class="clearfix form-group">
                    <label for="lblReligion" class="pop_label_left">Religion<span style="color: red; margin-left: 3px;">*</span></label>
                    <div class="pop_controls_right select-box-my input-group">
                        <select multiselectdropdown multiple="multiple" ng-model="partnerObj.lstReligion" typeofdata=Religion ng-change="changeBind('caste',partnerObj.lstReligion,partnerObj.lstMothertongue);" required></select>
                    </div>
                </li>
                <li class="clearfix form-group">
                    <label for="lblmothertongue" class="pop_label_left">Mother tongue<span style="color: red; margin-left: 3px;">*</span></label>
                    <div class="pop_controls_right select-box-my input-group">
                        <select multiselectdropdown multiple ng-model="partnerObj.lstMothertongue" typeofdata=Mothertongue ng-change="changeBind('caste',partnerObj.lstReligion,partnerObj.lstMothertongue);" required></select>
                    </div>
                </li>
                <li class="clearfix form-group">
                    <label for="lblpartnerCaste" class="pop_label_left">Caste<span style="color: red; margin-left: 3px;">*</span></label>
                    <div class="pop_controls_right select-box-my input-group">
                        <select multiselectdropdown multiple ng-model="partnerObj.lstCaste" ng-options="item.value as item.label for item in casteArr" ng-change="changeBind('subCaste',partnerObj.lstCaste);" required></select>
                    </div>

                </li>
                <li class="clearfix form-group">
                    <label for="lblSubcaste" class="pop_label_left">Subcaste</label>
                    <div class="pop_controls_right select-box-my ">
                        <select multiselectdropdown multiple ng-model="partnerObj.lstSubcaste" ng-options="item.value as item.label for item in subCasteArr"></select>
                    </div>

                </li>
                <li class="clearfix form-group">
                    <label for="lblMaritalstatus" class="pop_label_left">Marital status<span style="color: red; margin-left: 3px;">*</span></label>
                    <div class="pop_controls_right select-box-my input-group">
                        <select multiselectdropdown multiple ng-model="partnerObj.lstMaritalstatus" typeofdata="MaritalStatus" required></select>
                    </div>

                </li>



                <li class="clearfix form-group">
                    <label for="lblEducationcategory" class="pop_label_left">Education category</label>
                    <div class="pop_controls_right select-box-my">
                        <select multiselectdropdown multiple ng-model="partnerObj.lstEducationcategory" typeofdata=educationcategory ng-change="changeBind('EducationCatgory',partnerObj.lstEducationcategory);"></select>
                    </div>


                </li>
                <li class="clearfix form-group">
                    <label for="lblEducationgroup" class="pop_label_left">Education group</label>

                    <div class="pop_controls_right select-box-my">

                        <select multiselectdropdown multiple ng-model="partnerObj.lstEducationgroup" ng-options="item.value as item.label for item in eduGroupArr"></select>
                    </div>

                </li>
                <li class="clearfix form-group">
                    <label for="lblEmployedin" class="pop_label_left">Employed in</label>
                    <div class="pop_controls_right select-box-my">
                        <select multiselectdropdown multiple ng-model="partnerObj.lstEmployedin" typeofdata="ProfCatgory"></select>
                    </div>

                </li>
                <li class="clearfix form-group">
                    <label for="lblProfessiongroup" class="pop_label_left">Profession group </label>
                    <div class="pop_controls_right select-box-my">
                        <select multiselectdropdown multiple ng-model="partnerObj.lstProfessiongroup" typeofdata="ProfGroup"></select>

                    </div>

                </li>

                <li class="clearfix form-group">
                    <label for="lblPreferredcountry" class="pop_label_left">Preferred country 	</label>
                    <div class="pop_controls_right select-box-my">
                        <select multiselectdropdown multiple ng-model="partnerObj.lstPreferredcountry" typeofdata=Country ng-change="changeBind('Country',partnerObj.lstPreferredcountry);"></select>
                    </div>

                </li>
                <li class="clearfix form-group">
                    <label for="lblPreferredstate" class="pop_label_left">Preferred state</label>
                    <div class="pop_controls_right select-box-my">
                        <select multiselectdropdown multiple ng-model="partnerObj.lstPreferredstate" ng-options="item.value as item.label for item in stateArr"></select>
                    </div>
                </li>
                <li class="clearfix form-group" id="divRegioncontrol">
                    <label for="lblRegion" class="pop_label_left">Region</label>
                    <div class="pop_controls_right select-box-my">
                        <select multiselectdropdown multiple ng-model="partnerObj.lstRegion" typeofdata="region" ng-change="changeBind('region',partnerObj.lstRegion);"></select>
                    </div>
                </li>
                <li class="clearfix form-group">
                    <label for="lblBranch" class="pop_label_left">Branch</label>
                    <div class="pop_controls_right select-box-my">
                        <select multiselectdropdown multiple ng-model="partnerObj.lstBranch" ng-options="item.value as item.label for item in branchArr"></select>

                    </div>
                </li>
                <li class="clearfix form-group">
                    <label for="lblDiet" class="pop_label_left">Diet</label>
                    <div class="pop_controls_right pop_radios_list clearfix">
                        <label>
                <input ng-model="partnerObj.rbtDiet" value="27" type="radio"><span>&nbsp;Veg</span></label>
                        <label>
                <input ng-model="partnerObj.rbtDiet" value="28" type="radio"><span>&nbsp;Non Veg</span></label>
                        <label>
                <input ng-model="partnerObj.rbtDiet" value="29" type="radio"><span>&nbsp;Both</span></label>
                    </div>
                </li>

                <li class="clearfix form-group">
                    <label for="lblManglik" class="pop_label_left">Manglik/Kuja dosham</label>
                    <div class="pop_controls_right pop_radios_list clearfix">
                        <label>
                <input ng-model="partnerObj.rbtManglikKujadosham" value="0" type="radio"><span>&nbsp;Yes</span></label>
                        <label>
                <input ng-model="partnerObj.rbtManglikKujadosham" value="1" type="radio"><span>&nbsp;No</span></label>
                        <label>
                <input ng-model="partnerObj.rbtManglikKujadosham" value="2" type="radio"><span>&nbsp;Does Not Matter</span></label>
                    </div>


                </li>
                <li class="clearfix form-group">
                    <label for="lblPreferredstar" class="pop_label_left">Preferred star Language</label>
                    <div class="pop_controls_right pop_radios_list clearfix">
                        <label>
                <input ng-model="partnerObj.rbtPreferredstarLanguage" ng-change="changeBind('star',partnerObj.rbtPreferredstarLanguage);" value="1" type="radio"><span>&nbsp;Telugu</span></label>
                        <label>
                <input ng-model="partnerObj.rbtPreferredstarLanguage" ng-change="changeBind('star',partnerObj.rbtPreferredstarLanguage);" value="2" type="radio"><span>&nbsp;Tamil</span></label>
                        <label>
                <input ng-model="partnerObj.rbtPreferredstarLanguage" ng-change="changeBind('star',partnerObj.rbtPreferredstarLanguage);" value="3" type="radio"><span>&nbsp;Kannada</span></label>

                    </div>

                </li>
                <li class="clearfix form-group">

                    <label for="" class="pop_label_left">Star Preference</label>

                    <div class="pop_controls_right pop_radios_list clearfix">
                        <label>
                <input ng-model="partnerObj.rbtPreferredstars" value="0" type="radio" aria-selected><span>&nbsp;Preferredstars</span></label>
                        <label>
                <input ng-model="partnerObj.rbtPreferredstars" value="1" type="radio"><span>&nbsp;NonPreferredstars</span></label>
                    </div>
                </li>
                <li class="clearfix form-group">
                    <label for="" class="pop_label_left"></label>
                    <div class="pop_controls_right select-box-my">
                        <select multiselectdropdown multiple ng-model="partnerObj.lstpreferedstars" ng-options="item.value as item.label for item in starArr"></select>
                    </div>
                </li>
                <li class="row ">
                    <div class="col-lg-9">
                        <input value="Submit" class="button_custom  pull-right" type="submit">
                    </div>
                    <div class="col-lg-3">
                        <input value="Cancel" class="button_custom button_custom_reset pull-right" ng-click="cancel();" type="button">
                    </div>
                </li>
            </ul>
        </div>

    </form>
</script>


<script type="text/ng-template" id="partnerDescContent.html">
    <form name="aboutForm" novalidate role="form" ng-submit="partnerDescriptionSubmit(partnerDescObj)">
        <div class="modal-header">
            <h3 class="modal-title text-center" id="modal-title">Partner Description
                <a href="javascript:void(0);" ng-click="cancel();">
                    <ng-md-icon icon="close" style="fill:#c73e5f" class="pull-right" size="20"></ng-md-icon>
                </a>
            </h3>
        </div>
        <div class="modal-body clearfix pop_content_my" id="modal-body">
            <ul>
                <li class="clearfix form-group">
                    <textarea ng-model="partnerDescObj.txtpartnerdescription" style="width: 500px; height: 150px;" class="col-lg-10" maxlength="1000" required ng-class="form-control" required />
                </li>
                <li class="row ">
                    <div class="col-lg-9">
                        <input type="submit" value="Submit" class="button_custom  pull-right">
                    </div>
                    <div class="col-lg-3">
                        <input value="Cancel" class="button_custom button_custom_reset  pull-right" ng-click="cancel();" type="button">
                    </div>
                </li>
            </ul>
        </div>

    </form>
</script>
<alert-directive></alert-directive>