<div class="edit_pages_content_main clearfix">

    <div class="edit_page_item">
        <div class="edit_page_item_head clearfix">
            <h4>Father's Brother Details
            </h4>
            <div class="edit_page_item_ui clearfix" ng-if="FBArr.length===0">
                <a href="javascript:void(0);" ng-click="relativePopulatePopulate('FB');" class="edit_page_add_button" tabindex="0">Add</a>
            </div>
        </div>
        <div class="edit_page_details_item">
            <div id="fullupdatefatherbrother" ng-repeat="item in FBArr">
                <div id="reviewdiv" class="edit_page_details_item_desc clearfix">
                    <div>
                        <div>
                            <div id="upFatherBrother" class="edit_page_details_item_desc clearfix">

                                <h6>
                                    <span id="FBName" style="font-weight:bold;">FB Name</span></h6>
                                <h5>
                                    <span id="lblFBName">{{item.FatherbrotherName+"("+item.FatherBrotherElderyounger+")"}}</span></h5>
                            </div>
                            <div ng-if="FBArr.length>0" class="edit_page_item_ui clearfix">

                                <a href="javascript:void(0);" ng-click="relativePopulatePopulate('FB',item);" class="edit_page_edit_button" href="javascript:void(0);">Edit</a>
                            </div>

                        </div>
                        <div id="UpdatePanelFBProfession" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="FBEducation" style="font-weight:bold;">Education</span></h6>
                                <h5>
                                    <span id="lblFBEducation">{{item.FatherBrotherEducationDetails}}</span></h5>
                            </div>
                        </div>
                        <div id="UpdatePanelFBProfessionDetails" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="FBProfessionDetails" style="font-weight:bold;">Profession</span></h6>
                                <h5>
                                    <span id="lblProfessionDetails">{{item.FatherbrotherProfessionDetails }}</span></h5>

                            </div>

                        </div>

                        <div id="UpdatePanelFBCurrentLocation" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="FBCurrentLocation" style="font-weight:bold;">Current Location</span></h6>
                                <h5>
                                    <span id="lblCurrentLocation">{{item.FatherbrotherCurrentLocation }}</span></h5>

                            </div>

                        </div>
                        <div id="update0">

                            <div id="ownerdiv0">
                                <div id="UpdatePanelFBcontacts" class="edit_page_details_item_desc clearfix">

                                    <div>

                                        <h6>
                                            <span id="FBcontacts" style="font-weight:bold;">FB contacts</span></h6>
                                        <h5>
                                            <span id="lblFBcontacts">{{item.FatherbrotherMobileNumberWithCode+" "
                                        +(item.FatherbrotherLandnumberwithcode!=null&&item.FatherbrotherLandnumberwithcode.ToString()!=""?"&"+
                                        item.FatherbrotherLandnumberwithcode:" ") }}</span></h5>

                                    </div>

                                </div>
                                <div id="UpdatePanelFBEmail" class="edit_page_details_item_desc clearfix">

                                    <div>

                                        <h6>
                                            <span id="FBEmail" style="font-weight:bold;">FB Email</span></h6>
                                        <h5>
                                            <span id="lblFBEmail">{{item.FatherbrotherEmail }}</span></h5>

                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="edit_page_item">
        <div class="edit_page_item_head clearfix">
            <h4>Father's Sister Details
            </h4>
            <div class="edit_page_item_ui clearfix" ng-if="FSArr.length===0">
                <a class="edit_page_add_button" href="javascript:void(0);" ng-click="relativePopulatePopulate('FS');" tabindex="0">Add</a>
            </div>
        </div>
        <div class="edit_page_details_item">
            <div id="fullupdatefathersister" ng-repeat="item in FSArr">
                <div id="reviewdiv" class="edit_page_details_item_desc clearfix" style="background-image:url(../../Customer/Images/img_kaaka_Seal_b.png); background-repeat: no-repeat;">
                    <div>
                        <div>
                            <div id="upFathersister" class="edit_page_details_item_desc clearfix">

                                <h6>
                                    <span id="FsName" style="font-weight:bold;">FsName</span></h6>
                                <h5>
                                    <span id="lblFsName">{{item.FatherSisterName+"("+item.FatherSisterElderyounger+")" }}</span>
                                </h5>

                            </div>
                            <div ng-if="FSArr.length>0" class="edit_page_item_ui clearfix">
                                <a ng-click="relativePopulatePopulate('FS',item);" class="edit_page_edit_button" href="javascript:void(0);">Edit</a>
                            </div>

                        </div>
                        <div id="UpdatePanelFshName" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="FshName" style="font-weight:bold;">Fsh Name</span></h6>
                                <h5>
                                    <span id="lblFshName">{{item.FatherSisterSpouseName }}</span></h5>

                            </div>

                        </div>
                        <div id="UpdatePanelFshEducation" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="lblEducationfsh" style="font-weight:bold;">Fsh Education</span></h6>
                                <h5>
                                    <span id="lblFshEducation">{{item.FatherSisterSpouseEducationDetails }}</span></h5>
                            </div>

                        </div>
                        <div id="UpdatePanelFshprofessiondetails" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="Fshprofessiondetails" style="font-weight:bold;">Fsh Profession</span></h6>
                                <h5>
                                    <span id="lblFshprofessiondetails">{{item.FathersisterSpouseProfessionDetails }}</span></h5>
                            </div>

                        </div>

                        <div id="UpdatePanelFshCurrentLocation" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="FshCurrentLocation" style="font-weight:bold;">Fsh Current Location</span></h6>
                                <h5>
                                    <span id="lblFshCurrentLocation">{{item.FatherSisterCurrentLocation }}</span></h5>

                            </div>

                        </div>
                        <div id="UpdatePanelFshNativeplace" class="edit_page_details_item_desc clearfix">

                            <div>

                                <h6>
                                    <span id="FshNativeplace" style="font-weight:bold;">Fsh Native Place</span></h6>
                                <h5>
                                    <span id="lblFshNativeplace">{{item.FathersisterSpouseNativePlace+" "+(item.FatherSisterSpousDistrict!=null && 
                                                item.FatherSisterSpousDistrict.ToString()!=""? ","+item.FatherSisterSpousDistrict:"")+" "+(item.FatherSisterSpousestate!=null && 
                                                item.FatherSisterSpousestate.ToString()!=""? ","+item.FatherSisterSpousestate:"")+" "+(item.FatherSisterSpousecountry!=null && 
                                                item.FatherSisterSpousecountry.ToString()!=""? ","+item.FatherSisterSpousecountry:"")  }}</span></h5>

                            </div>

                        </div>
                        <div id="update1">

                            <div id="ownerdiv1">
                                <div id="UpdatePanelFShcontactnos" class="edit_page_details_item_desc clearfix">

                                    <div>

                                        <h6>
                                            <span id="FShcontactnos" style="font-weight:bold;">FSh contact nos</span></h6>
                                        <h5>
                                            <span id="lblFSHcontacts">{{item.FatherSisterspouseMobileNumberWithCode+" "+(item.FatherSisterspouseLandnumberwithcode!=null&&
                                    item.FatherSisterspouseLandnumberwithcode.ToString()!=""?"&"+item.FatherSisterspouseLandnumberwithcode:"") }}</span></h5>
                                    </div>

                                </div>
                                <div id="UpdatePanelFSHEmail" class="edit_page_details_item_desc clearfix">

                                    <div>

                                        <h6>
                                            <span id="FSHEmail" style="font-weight:bold;">Fsh Email</span></h6>
                                        <h5>
                                            <span id="lblFSHEmail">{{item.FatherSisterspouseEmail }}</span></h5>

                                    </div>

                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="edit_page_item">
        <div class="edit_page_item_head clearfix">
            <h4>Mother's Brother Details</h4>
            <div class="edit_page_item_ui clearfix" ng-if="MBrr.length===0">
                <a class="edit_page_add_button" href="javascript:void(0);" ng-click="relativePopulatePopulate('MB');" tabindex="0">Add</a>
            </div>
        </div>
        <div class="edit_page_details_item">
            <div id="fullupdatemotherbrother" ng-repeat="item in MBrr">

                <div id="reviewdiv" class="edit_page_details_item_desc clearfix" style="background-image:url(../../Customer/Images/img_kaaka_Seal_b.png); background-repeat: no-repeat;">
                    <div>
                        <div>
                            <div id="upmotherbrother" class="edit_page_details_item_desc clearfix">

                                <h6>
                                    <span id="MBName" style="font-weight:bold;">MB Name</span></h6>
                                <h5>
                                    <span id="lblMBName">{{item.MotherBrotherName+"("+item.MotherBrotherElderyounger+")" }}</span>
                                </h5>
                            </div>
                            <div ng-if="MBrr.length>0" class="edit_page_item_ui clearfix">
                                <a href="javascript:void(0);" ng-click="relativePopulatePopulate('MB',item);" class="edit_page_edit_button">Edit</a>
                            </div>

                            <div class="edit_page_details_item_desc clearfix">

                                <div>

                                    <h6>
                                        <span id="lblMotherbrithereducation" style="font-weight:bold;">Education</span></h6>
                                    <h5>
                                        <span id="lblMotherbrithereducationdetails">{{item.MotherBrotherEducationDetails }}</span></h5>

                                </div>

                            </div>
                            <div class="edit_page_details_item_desc clearfix">

                                <div>

                                    <h6>
                                        <span id="MBProfessionDetails" style="font-weight:bold;">Profession</span></h6>
                                    <h5>
                                        <span id="lblMBProfessionDetails">{{item.MotherBrotherProfessionDetails }}</span></h5>

                                </div>

                            </div>
                            <div class="edit_page_details_item_desc clearfix">

                                <div>

                                    <h6>
                                        <span id="MBCurrentLocation" style="font-weight:bold;">Current Location</span></h6>
                                    <h5>
                                        <span id="lblMBCurrentLocation">{{item.MotherBrotherCurrentLocation }}</span></h5>

                                </div>

                            </div>
                            <div id="update2">

                                <div id="ownerdiv2">
                                    <div id="UpdatePanelMBcontacts" class="edit_page_details_item_desc clearfix">

                                        <div>

                                            <h6>
                                                <span id="MBcontacts" style="font-weight:bold;">MB contacts</span></h6>
                                            <h5>
                                                <span id="lblMBcontacts">{{item.MotherBrotherMobileNumberWithCode+" "+(item.MotherBrotherLandnumberwithcode!=null&& 
                                                    item.MotherBrotherLandnumberwithcode.ToString()!=""?"&"+item.MotherBrotherLandnumberwithcode:"") }}</span></h5>
                                        </div>

                                    </div>
                                    <div id="UpdatePanelMBEmail" class="edit_page_details_item_desc clearfix">

                                        <div>

                                            <h6>
                                                <span id="MBEmail" style="font-weight:bold;">MB Email</span></h6>
                                            <h5>
                                                <span id="lblMBEmail">{{item.MotherBrotherEmail }}</span></h5>

                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="edit_page_item">
        <div class="edit_page_item_head clearfix">
            <h4>Mother's Sister Details
            </h4>
            <div class="edit_page_item_ui clearfix" ng-if="MSArr.length===0">
                <a class="edit_page_add_button" href="javascript:void(0);" ng-click="relativePopulatePopulate('MS');" tabindex="0">Add</a>
            </div>
        </div>
        <div class="edit_page_details_item">
            <div id="fullupdatemothersister" ng-repeat="item in MSArr">

                <div id="reviewdiv" class="edit_page_details_item_desc clearfix" style="background-image:url(../../Customer/Images/img_kaaka_Seal_b.png); background-repeat: no-repeat;">
                    <div>
                        <div>
                            <div id="upMothersister" class="edit_page_details_item_desc clearfix">

                                <h6>
                                    <span id="MsName" style="font-weight:bold;">MsName</span></h6>
                                <h5>
                                    <span id="lblMsName">{{item.MotherSisterName+"("+item.MotherSisterElderyounger+")" }}</span>
                                </h5>
                            </div>
                            <div ng-if="MSArr.length>0" class="edit_page_item_ui clearfix">
                                <a href="javascript:void(0);" ng-click="relativePopulatePopulate('MS',item);" class="edit_page_edit_button">Edit</a>
                            </div>
                        </div>
                        <div class="edit_page_details_item_desc clearfix">
                            <h6>
                                <span id="MshName" style="font-weight:bold;">Msh Name</span></h6>
                            <h5>
                                <span id="lblMshName">{{item.MotherSisterSpouseName}}</span></h5>
                        </div>
                    </div>

                    <div class="edit_page_details_item_desc clearfix">

                        <h6>
                            <span id="lblMshEducation" style="font-weight:bold;">Msh Education</span></h6>
                        <h5>
                            <span id="lblMshEducationdetails">{{item.MothersisterspouseEducationdetails }}</span></h5>
                    </div>
                    <div class="edit_page_details_item_desc clearfix">
                        <div>
                            <h6>
                                <span style="font-weight:bold;">Msh profession</span></h6>
                            <h5>
                                <span>{{item.MotherSisterProfessionDetails }}</span></h5>
                        </div>
                    </div>

                    <div id="UpdatePanelMshCurrentLocation" class="edit_page_details_item_desc clearfix">

                        <div>

                            <h6>
                                <span id="MshCurrentLocation" style="font-weight:bold;">Msh Current Location</span></h6>
                            <h5>
                                <span id="lblMshCurrentLocation">{{item.MotherSisterCurrentLocation }}</span></h5>

                        </div>

                    </div>
                    <div id="UpdatePanelMshNativeplace" class="edit_page_details_item_desc clearfix">

                        <div>

                            <h6>
                                <span id="MshNativeplace" style="font-weight:bold;">Msh Native Place</span></h6>
                            <h5>
                                <span id="lblMshNativeplace">{{item.MotherSisterSpouseNativePlace+" "+(item.Mothersisterspousedistrict!=null && 
                                                item.Mothersisterspousedistrict.ToString()!=""? ","+item.Mothersisterspousedistrict:"")+" "+(item.Motherssisterspousestate!=null && 
                                                item.Motherssisterspousestate.ToString()!=""? ","+item.Motherssisterspousestate:"")+" "+(item.MothersisterspouseCountry!=null && 
                                                item.MothersisterspouseCountry.ToString()!=""? ","+item.MothersisterspouseCountry:"")  }}    </span></h5>

                        </div>
                    </div>
                    <div id="update3">

                        <div id="ownerdiv3">
                            <div id="UpdatePanelMshcontactnos" class="edit_page_details_item_desc clearfix">

                                <div>

                                    <h6>
                                        <span id="Mshcontactnos" style="font-weight:bold;">Msh contact nos</span></h6>
                                    <h5>
                                        <span id="lblMshcontactnos">{{item.MotherSisterspouseMobileNumberWithCode+" "+(item.MotherSisterspouseLandnumberwithcode!=null 
                                            && item.MotherSisterspouseLandnumberwithcode.ToString()!="" ?
                                            "&"+item.MotherSisterspouseLandnumberwithcode:"") }}</span></h5>
                                </div>

                            </div>
                            <div id="UpdatePanelMsHEmail" class="edit_page_details_item_desc clearfix">

                                <div>

                                    <h6>
                                        <span id="MsHEmail" style="font-weight:bold;">Msh Email</span></h6>
                                    <h5>
                                        <span id="lblMsHEmail">{{item.MotherSisterspouseEmail }}</span></h5>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>


        </div>
    </div>
</div>
</div>

<script type="text/ng-template" id="FBModalContent.html">
    <form name="FBForm" novalidate role="form" ng-submit="FBSubmit(fbObj)">
        <div class="modal-header">
            <h3 class="modal-title text-center" id="modal-title">Father's Brother Details
                <a href="javascript:void(0);" ng-click="cancel();">
                    <ng-md-icon icon="close" style="fill:#c73e5f" class="pull-right" size="20">Delete</ng-md-icon>
                </a>
            </h3>
        </div>
        <div class="modal-body clearfix pop_content_my" id="modal-body">
            <ul id="ulFatherBrother">
                <li class="clearfix form-group">
                    <label for="ElderYounger" class="pop_label_left">Elder/Younger<span style="color: red; margin-left: 3px;">*</span></label>
                    <div class="pop_controls_right pop_radios_list">

                        <label>
                <input ng-model="fbObj.rdlFBElderORyounger" value="324" type="radio"><span>&nbsp;Elder</span>
            </label>
                        <label class="">
                <input ng-model="fbObj.rdlFBElderORyounger" value="323" type="radio"><span>&nbsp;Younger</span>
            </label>
                    </div>
                </li>

                <li class="clearfix form-group">
                    <label for="Fatherbrothername" class="pop_label_left">Father's brother name<span style="color: red; margin-left: 3px;">*</span></label>
                    <div class="pop_controls_right select-box-my">
                        <input ng-model="fbObj.txtFatherbrothername" class="form-control" maxlength="100" tabindex="2" required/>

                    </div>
                </li>

                <li class="clearfix form-group">
                    <label for="Educationdetails" class="pop_label_left">Education</label>
                    <div class="pop_controls_right select-box-my">
                        <input ng-model="fbObj.txtFBEducationdetails" class="form-control" tabindex="3" maxlength="150" />
                    </div>
                </li>
                <li class="clearfix form-group">
                    <label for="Professiondetails" class="pop_label_left">Profession</label>
                    <div class="pop_controls_right select-box-my">
                        <input ng-model="fbObj.txtFBProfessiondetails" class="form-control" tabindex="4" maxlength="200" />
                    </div>
                </li>


                <contact-directive emailhide="true" dmobile="fbObj.ddlFBMobileCountryID" strmobile="fbObj.txtFBMobileNumber" dalternative="fbObj.ddlFBMobileCountryID2" stralternative="fbObj.txtFBMobileNumber2" dland="fbObj.ddlFBLandLineCountry" strareacode="fbObj.txtFBAreCode"
                    strland="fbObj.txtFBLandNumber" strmail="fbObj.txtFBEmails"></contact-directive>

                <li class="clearfix form-group">
                    <label for="lblCurrentLocation" class="pop_label_left">Current Location</label>
                    <div class="pop_controls_right select-box-my">
                        <input ng-model="fbObj.txtCurrentLocation" class="form-control" maxlength="150" tabindex="16" />
                    </div>
                </li>
                <li class="row ">
                    <div class="col-lg-9">
                        <input value="Submit" class="button_custom  pull-right" type="submit">
                    </div>
                    <div class="col-lg-3">
                        <input value="Cancel" class="button_custom button_custom_reset pull-right" ng-click="cancel();" type="button">
                    </div>
                </li>
            </ul>

        </div>

    </form>
</script>
<script type="text/ng-template" id="FSModalContent.html">
    <form name="FSForm" novalidate role="form" ng-submit="FSSubmit(fsObj)">
        <div class="modal-header">
            <h3 class="modal-title text-center" id="modal-title">Father's Sister Details
                <a href="javascript:void(0);" ng-click="cancel();">
                    <ng-md-icon icon="close" style="fill:#c73e5f" class="pull-right" size="20">Delete</ng-md-icon>
                </a>
            </h3>
        </div>
        <div class="modal-body clearfix pop_content_my" id="modal-body">
            <ul>
                <li class="clearfix form-group">
                    <label for="FSElderYounger" class="pop_label_left">Elder/Younger<span style="color: red; margin-left: 3px;">*</span></label>
                    <div class="pop_controls_right pop_radios_list">
                        <label>
                <input ng-model="fsObj.rdlFSElderYounger" value="326" type="radio"><span>&nbsp;Elder</span>
            </label>
                        <label class="">
                <input ng-model="fsObj.rdlFSElderYounger" value="325" type="radio"><span>&nbsp;Younger</span>
            </label>

                    </div>
                </li>
                <li class="clearfix form-group">
                    <label for="Fathersistername" class="pop_label_left">Father's sister name<span style="color: red; margin-left: 3px;">*</span></label>
                    <div class="pop_controls_right select-box-my">
                        <input ng-model="fsObj.txtFathersistername" class="form-control" maxlength="100" tabindex="2" required/>
                    </div>
                </li>

                <li class="clearfix form-group">
                    <label for="Husbandfirstname" class="pop_label_left">Husband first name</label>
                    <div class="pop_controls_right select-box-my">
                        <input ng-model="fsObj.txtFSHusbandfirstname" class="form-control" maxlength="100" tabindex="3" />

                    </div>
                </li>
                <li class="clearfix form-group">
                    <label for="Husbandlastname" class="pop_label_left">Husband last name </label>
                    <div class="pop_controls_right select-box-my">
                        <input ng-model="fsObj.txtFSHusbandlastname" class="form-control" maxlength="50" tabindex="4" />
                    </div>
                </li>
                <li class="clearfix form-group">
                    <label for="FSHEDucation" class="pop_label_left">FSH Education</label>
                    <div class="pop_controls_right select-box-my">
                        <input ng-model="fsObj.txtFSHEDucation" class="form-control" tabindex="5" maxlength="150" />
                    </div>
                </li>
                <li class="clearfix form-group">
                    <label for="Professiondetails" class="pop_label_left">FSH Profession</label>
                    <div class="pop_controls_right select-box-my">
                        <input ng-model="fsObj.txtFSProfessiondetails" class="form-control" tabindex="6" maxlength="200" />
                    </div>
                </li>






                <country-directive countryshow="false" cityshow="false" othercity="false" dstate="fsObj.ddlFSHStateID" ddistrict="fsObj.ddlFSHDistrictID"></country-directive>




                <li class="clearfix form-group">
                    <label for="FSHNativePlace" class="pop_label_left">Native place </label>
                    <div class="pop_controls_right select-box-my">


                        <input ng-model="fsObj.txtFSHNativePlace" class="form-control" tabindex="9" maxlength="100" />


                    </div>
                </li>





                <contact-directive emailhide="true" dmobile="fsObj.ddlFSMObileCountryID" strmobile="fsObj.txtFSMobileNumber" dalternative="fsObj.ddlFSMObileCountryID2" stralternative="fsObj.txtFSMobileNumber2" dland="fsObj.ddlFSHLandCountryID" strareacode="fsObj.txtFSHAreaNumber"
                    strland="fsObj.txtFSHNUmber" strmail="fsObj.txtFSHEmails"></contact-directive>

                <li class="clearfix form-group">
                    <label for="lblCurrentLocation" class="pop_label_left">Current Location</label>
                    <div class="pop_controls_right select-box-my">
                        <input ng-model="fsObj.txtFSHCurrentLocation" class="form-control" tabindex="21" maxlength="100" />

                    </div>
                </li>
                <li class="row ">
                    <div class="col-lg-9">
                        <input value="Submit" class="button_custom  pull-right" type="submit">
                    </div>
                    <div class="col-lg-3">
                        <input value="Cancel" class="button_custom button_custom_reset pull-right" ng-click="cancel();" type="button">
                    </div>
                </li>
            </ul>

        </div>

    </form>
</script>
<script type="text/ng-template" id="MBModalContent.html">
    <form name="MBForm" novalidate role="form" ng-submit="MBSubmit(mbObj)">
        <div class="modal-header">
            <h3 class="modal-title text-center" id="modal-title">Mother's Brother Details
                <a href="javascript:void(0);" ng-click="cancel();">
                    <ng-md-icon icon="close" style="fill:#c73e5f" class="pull-right" size="20">Delete</ng-md-icon>
                </a>
            </h3>
        </div>
        <div class="modal-body clearfix pop_content_my" id="modal-body">
            <ul id="ulmotherbrother">
                <li class="clearfix form-group">


                    <label for="MotherElderYounger" class="pop_label_left">Elder/Younger<span style="color: red; margin-left: 3px;">*</span></label>
                    <div class="pop_controls_right pop_radios_list">
                        <label>
                <input ng-model="mbObj.rdlMBElderYounger" value="328" type="radio"><span>&nbsp;Elder</span>
            </label>
                        <label class="">
                <input ng-model="mbObj.rdlMBElderYounger" value="327" type="radio"><span>&nbsp;Younger</span>
            </label>
                    </div>

                </li>
                <li class="clearfix form-group">
                    <label for="Motherbrothername" class="pop_label_left">Mother's brother name<span style="color: red; margin-left: 3px;">*</span></label>
                    <div class="pop_controls_right">
                        <input ng-model="mbObj.txtMBName" class="form-control" maxlength="100" tabindex="2" required/>
                    </div>
                </li>


                <li class="clearfix form-group">
                    <label for="MBEducation" class="pop_label_left">Education</label>
                    <div class="pop_controls_right">
                        <input ng-model="mbObj.txtMBEducation" class="form-control" tabindex="3" maxlength="150" />
                    </div>
                </li>
                <li class="clearfix form-group">
                    <label for="MBProfessiondetails" class="pop_label_left">Profession</label>
                    <div class="pop_controls_right">


                        <input ng-model="mbObj.txtMBProfessiondetails" class="form-control" tabindex="4" maxlength="200" />


                    </div>

                </li>




                <contact-directive emailhide="true" dmobile="mbObj.ddlMBCountriCode" strmobile="mbObj.txtMBMobileNum" dalternative="mbObj.ddlMBCountriCode2" stralternative="mbObj.txtMBMobileNum2" dland="mbObj.ddlMBLandLineCountryCode" strareacode="mbObj.txtMBAreaCode"
                    strland="mbObj.txtMBLandLineNum" strmail="mbObj.txtMBEmails"></contact-directive>

                <li class="clearfix form-group">
                    <label for="MBCurrentLocation" class="pop_label_left">Current Location</label>
                    <div class="pop_controls_right">
                        <input ng-model="mbObj.txtMBCurrentLocation" class="form-control" tabindex="16" maxlength="100" />

                    </div>
                </li>
                <li class="row ">
                    <div class="col-lg-9">
                        <input value="Submit" class="button_custom  pull-right" type="submit">
                    </div>
                    <div class="col-lg-3">
                        <input value="Cancel" class="button_custom button_custom_reset pull-right" ng-click="cancel();" type="button">
                    </div>
                </li>

            </ul>

        </div>

    </form>
</script>
<script type="text/ng-template" id="MSModalContent.html">
    <form name="MSForm" novalidate role="form" ng-submit="MSSubmit(msObj)">
        <div class="modal-header">
            <h3 class="modal-title text-center" id="modal-title">Mother's Sister Details
                <a href="javascript:void(0);" ng-click="cancel();">
                    <ng-md-icon icon="close" style="fill:#c73e5f" class="pull-right" size="20">Delete</ng-md-icon>
                </a>
            </h3>
        </div>
        <div class="modal-body clearfix pop_content_my" id="modal-body">
            <ul id="ulmothersister">
                <li class="clearfix form-group">
                    <label for="MsElderYounger" class="pop_label_left">Elder/Younger<span style="color: red; margin-left: 3px;">*</span></label>
                    <div class="pop_controls_right pop_radios_list">

                        <label>
                <input ng-model="msObj.rdlMSElderYounger" value="330" type="radio"><span>&nbsp;Elder</span>
            </label>
                        <label class="">
                <input ng-model="msObj.rdlMSElderYounger" value="329" type="radio"><span>&nbsp;Younger</span>
            </label>
                    </div>

                </li>
                <li class="clearfix form-group">
                    <label for="Fathersistername" class="pop_label_left">Mother's sister name<span style="color: red; margin-left: 3px;">*</span></label>
                    <div class="pop_controls_right">
                        <input ng-model="msObj.txtMSName" class="form-control" maxlength="100" tabindex="2" required/>

                    </div>
                </li>

                <li class="clearfix form-group">
                    <label for="MsHusbandfirstname" class="pop_label_left">Husband first name</label>
                    <div class="pop_controls_right">


                        <input ng-model="msObj.txtMsHusbandfirstname" class="form-control" maxlength="100" tabindex="3" />

                    </div>
                </li>
                <li class="clearfix form-group">
                    <label for="MsHusbandlastname" class="pop_label_left">Husband last name </label>
                    <div class="pop_controls_right">


                        <input ng-model="msObj.txtMsHusbandlastname" class="form-control" maxlength="50" tabindex="4" />

                    </div>
                </li>



                <country-directive countryshow="false" cityshow="false" othercity="false" dstate="msObj.ddlMSisState" ddistrict="msObj.ddlMsDistrict"></country-directive>



                <li class="clearfix form-group">
                    <label for="MSHNativePlace" class="pop_label_left">Native place </label>
                    <div class="pop_controls_right">


                        <input ng-model="msObj.txtMSNativePlace" class="form-control" tabindex="7" maxlength="100" />


                    </div>

                </li>

                <li class="clearfix form-group">
                    <label for="MSHEducationdet" class="pop_label_left">Education</label>
                    <div class="pop_controls_right">


                        <input ng-model="msObj.txtMSHEducation" class="form-control" tabindex="8" maxlength="150" />


                    </div>
                </li>
                <li class="clearfix form-group">
                    <label for="MSProfessiondetails" class="pop_label_left">Profession</label>
                    <div class="pop_controls_right">


                        <input ng-model="msObj.txtMSProfessiondetails" class="form-control" tabindex="9" maxlength="200" />


                    </div>

                </li>




                <contact-directive emailhide="true" dmobile="msObj.ddlMSCounCodeID" strmobile="msObj.txtMSMObileNum" dalternative="msObj.ddlMSCounCodeID2" stralternative="msObj.txtMSMObileNum2" dland="msObj.ddlMSLLCounCode" strareacode="msObj.txtMSArea" strland="msObj.txtLLNum"
                    strmail="msObj.txtMSEmail"></contact-directive>

                <li class="clearfix form-group">
                    <label for="lblMSCurrentLocation" class="pop_label_left">Current Location</label>
                    <div class="pop_controls_right">
                        <input ng-model="msObj.txtMSCurrentLocation" class="form-control" maxlength="100" tabindex="21" />

                    </div>
                </li>
                <li class="row ">
                    <div class="col-lg-9">
                        <input value="Submit" class="button_custom  pull-right" type="submit">
                    </div>
                    <div class="col-lg-3">
                        <input value="Cancel" class="button_custom button_custom_reset pull-right" ng-click="cancel();" type="button">
                    </div>
                </li>

            </ul>

        </div>

    </form>
</script>


<style>
    .md-dialog-container {
        z-index: 99999999999;
    }
</style>