<div class="edit_pages_content_main clearfix">

    <div class="register_page_main">



        <div class="my_photos_main my_photos_main_edit">
            <h6>Upload your recent Photos for better response</h6>
            <a id="lnkbtnn" class="skip_button" onclick="lnkskip_Click">skip this page</a>

            <div class="clear">&nbsp;</div>

            <br />
            <div class="dragzone">

                <div class="pics_selected_list_main clearfix">
                    <div class="pics_selected_list_main_lt clearfix">
                        <p class="clearfix"><span>Upload your three different photos</span></p>
                        <div id="dtimagephoto" class="clearfix" ng-repeat="item in manageArr" style="width:33%;float:left;">
                            <div class="photos">
                                <div class="pics_selected_list_item">
                                    <div id="maskdiv">
                                        <img ng-model="imgPhotoName" ng-src="{{item.ImageUrl}}" />
                                    </div>

                                    <div class="pics_selected_list_item_ui clearfix">
                                        <div class="photos_icon">
                                            <input type="image" id="imgAdd" alt="add" ng-click="AddImage();" ng-show="{{item.addButtonvisible}}" />

                                            <input type="image" title="Delete Image" ng-show="{{item.deleteVisibility}}" alt="delete" />

                                            <input type="image" id="lnksetasprofile" alt="Set as Profilepic" class="set_pic" onclick="lnksetasprofile_Click" ng-show='{{item.IsMain=="1"?false:(item.PhotoName!=null?true:false) }}'></input>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clear"></div>
                        <div class="edit_page_photo_manage_submit">
                            <div class="edit_page_photo_manage_protect pull-left clearfix" id="divPassword">
                                <label class="checkbox checkbox_my pull-left">
                                    <!-- <asp:radiobutton id="rdbutton" text="Protect with Password" cssclass="radio" oncheckedchanged="rdbutton_CheckedChanged"
                                        autopostback="true" visible="false" />-->
                                    <div id="UpdatePanel5" class="radio_my2 clearfix">

                                        <label class="pull-left" style="font-size: 14px; font-weight: 400;" id="lblProtected" text=" Protect with Password :"></label>
                                <!-- <asp:RadioButtonList  ID="rbtProtectPassword" RepeatDirection="Horizontal" OnSelectedIndexChanged="rdbutton_CheckedChanged" AutoPostBack="true" class="radio pull-right">
                                                <asp:ListItem Value="1">Yes</asp:ListItem>
                                                <asp:ListItem Value="0" Selected="True">No</asp:ListItem>
                                            </asp:RadioButtonList>-->

                            </div>
                            </label>
                        </div>
                    </div>
                    <div class="photo_upload_instrctns_list clearfix">
                        <a onclick="PhotoGuideLine();" id="phtoguide" href="javascript:__doPostBack('phtoguide','')">Photo guidelines
                        </a>
                        <a onclick="PhotoFaq();" id="photofaq" href="javascript:__doPostBack('photofaq','')">Photo faq’s
                        </a>
                        <a id="photoupload" href="../../Employee/PhotoFAQ.aspx" target="_blank">Photo upload tips
                        </a>
                    </div>
                </div>

            </div>

        </div>




        <div class="my_photos_main_block2 clearfix">
            <div class="clearfix pics_incorrect_list">
                <h3>Such Photos cannot be Uploaded</h3>
                <table id="DataList3" class="clearfix" style="border-collapse: collapse;" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>
                                <img id="DataList3_ctl00_images" src="../CutomerImages/Managephotos/Side-face.png">
                                <p>
                                    Side Face
                                </p>

                            </td>
                            <td>
                                <img id="DataList3_ctl01_images" src="../CutomerImages/Managephotos/Blir.png">
                                <p>
                                    Blur
                                </p>

                            </td>
                            <td>
                                <img id="DataList3_ctl02_images" src="../CutomerImages/Managephotos/Group-photos.png">
                                <p>
                                    Group Photo
                                </p>

                            </td>
                            <td>
                                <img id="DataList3_ctl03_images" src="../CutomerImages/Managephotos/Water-mark.png">
                                <p>
                                    Watermark
                                </p>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="pics_selected_list_main_rt clearfix pics_correct_list">
                <h3>Photos that can be uploaded</h3>
                <table id="DataList2" class="clearfix" style="border-collapse: collapse;" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>
                                <img id="DataList2_ctl00_images" src="../CutomerImages/Managephotos/Close-up.png">
                                <p>
                                    Close Up
                                </p>
                            </td>
                            <td>
                                <img id="DataList2_ctl01_images" src="../CutomerImages/Managephotos/Fulsize.png">
                                <p>
                                    Full Size
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clear">&nbsp;</div>
        </div>
        <div class="my_photos_main_block3">

            <p>
                <img src="../images/whatsup.png" alt="Mail" style="width: 50px; height: 40px;">Whatsup your photos to
                <span>91-9848535373</span> - Kindly mention your Profile ID and name
            </p>
            <p>
                <img src="../images/icon_email.png" alt="Mail">Can also Email your photos to <span>photos@telugumarriages.com</span> - Kindly mention your Profile ID and name
            </p>

        </div>
    </div>
</div>




<script type="text/ng-template" id="AddimagePopup.html">
    <div class="modal-header">
        <h3 class="modal-title text-center" id="modal-title">Upload Photo </h3>
    </div>
    <div class="modal-body" id="modal-body">
        <ul id="ulprofession">

        </ul>

    </div>
    <div class="modal-footer">
        <input value="Cancel" class="button_custom button_custom_reset" ng-click="cancel();" type="button">
        <input name="btnEduSubmit" value="Upload" id="btnEduSubmit" class="button_custom" type="button">
    </div>
</script>
</div>