<div class="edit_pages_content_main clearfix">
    <div id="divlnkasro" class="edit_page_item">
        <div class="edit_page_item_head clearfix">
            <h4>Astro Details </h4>
            <div class="edit_page_item_ui clearfix">
                <div ng-if="AstroArr.length==0" cssclass="edit_page_add_button">
                    <a ng-click="populateAstro();" class="edit_page_add_button" href="javascript:void(0);">Add</a>
                </div>
            </div>
        </div>
        <div class="edit_page_details_item">
            <div id="reviewdiv" class="edit_page_details_item_desc clearfix" ng-repeat="item in AstroArr track by $index">
                <div>
                    <div ng-hide="item.TimeOfBirth===null" class="edit_page_details_item_desc clearfix">
                        <h6>
                            <span id="TimeofBirth" style="font-weight:bold;">Time of Birth</span></h6>
                        <h5>
                            <span id="lblTimeofBirth">{{item.TimeOfBirth}}</span></h5>
                    </div>
                    <div class="edit_page_details_item_desc clearfix">

                        <h6>
                            <span id="PlaceofBirth" style="font-weight:bold;">Place of Birth</span></h6>
                        <h5>
                            <span id="lblPlaceofBirth">{{ item.CityOfBirth +","+item.DistrictOfBirth+","+item.StateOfBirth+","+item.CountryOfBirth}}</span>
                        </h5>
                    </div>
                    <div ng-hide="item.TypeofStar===null" class="edit_page_details_item_desc clearfix">
                        <h6>
                            <span id="Telugustar" style="font-weight:bold;">Star Language</span></h6>
                        <h5>
                            <span id="lblTelugustar">{{ item.TypeofStar+((item.StarName!="" &&  item.StarName!=null)?" - "+
                                            item.StarName:"")+((item.Paadam!="" &&  item.Paadam!=null)?" ("+item.Paadam+")":"") }}</span></h5>

                    </div>
                    <div ng-hide="item.Rassi===null" class="edit_page_details_item_desc clearfix">

                        <h6>
                            <span id="raasimoonsign" style="font-weight:bold;">Raasi/moon sign</span></h6>
                        <h5>
                            <span id="lblraasimoonsign">{{ item.Rassi}}</span></h5>
                    </div>
                    <div ng-hide="item.Lagnam===null" class="edit_page_details_item_desc clearfix">
                        <h6>
                            <span id="Lagnam" style="font-weight:bold;">Lagnam</span></h6>
                        <h5>
                            <span id="lblLagnam">  {{ item.Lagnam }}</span></h5>
                    </div>
                    <div ng-hide="item.Gothram===null" class="edit_page_details_item_desc clearfix">
                        <h6>
                            <span id="GothramGotra" style="font-weight:bold;">Gothram/Gotra</span></h6>
                        <h5>
                            <span id="lblGothramGotra">  {{ item.Gothram}}</span></h5>
                    </div>
                    <div ng-hide="item.MeternalGothramID===null" class="edit_page_details_item_desc clearfix">
                        <h6>
                            <span id="MaternalGothram" style="font-weight:bold;">Maternal Gothram</span></h6>
                        <h5>
                            <span id="lblMaternalGothram">{{ item.MeternalGothramID }}</span></h5>
                    </div>
                    <div ng-hide="item.manglikkujadosham===null" class="edit_page_details_item_desc clearfix">
                        <h6>
                            <span id="manglikkujadosham" style="font-weight:bold;">manglik/kuja dosham</span></h6>
                        <h5>
                            <span id="lblmanglikkujadosham">{{ item.manglikkujadosham }}</span></h5>
                    </div>
                </div>
                <div class="edit_page_item_ui clearfix" ng-if="AstroArr.length>0">
                    <a ng-click="populateAstro(item);" class="edit_page_edit_button" href="javascript:void(0);">Edit</a>
                </div>
                <br>
            </div>
        </div>


    </div>
    <div class="edit_page_details_item_desc clearfix" style="padding: 0 0 0 20px;">

        <div class="radio-group-my input-group" ng-show="ImageUrl==='' || ImageUrl===null">
            <!--<label><input ng-model="atroObj.rdlUploadGenerate" value="0" type="radio"><span>&nbsp;Upload Horoscope</span> </label>
            <label class=""><input ng-model="atroObj.rdlUploadGenerate" value="1" type="radio"><span>&nbsp;Generate Horoscope</span></label>-->
            <md-radio-group ng-required="true" name="rdlUploadGenerate" layout="row" ng-model="atroObj.rdlUploadGenerate" ng-change="uploadGenerateHoro(atroObj.rdlUploadGenerate);" class="md-block" flex-gt-sm ng-disabled="manageakerts">
                <md-radio-button value="0">Upload Horoscope</md-radio-button>
                <md-radio-button value="1"> Generate Horoscope </md-radio-button>
            </md-radio-group>
        </div>

    </div>
    <div ng-hide="ImageUrl==='' || ImageUrl===null">
        <div class="edit_page_details_item">
            <div class="edit_page_details_item_desc clearfix">
                <img ng-model="imghoroName" ng-src="{{ImageUrl}}" Style="width: 250px; height: 250px;" />
            </div>
        </div>
        <div class="edit_page_details_item_desc clearfix" style="padding: 0 0 0 20px;">
            <div class="edit_page_item_ui clearfix  pull-left">

                <a ID="btndeletehoro" class="edit_page_del_button" href="javascript:void(0);" ng-click="shoedeletePopup();" data-placement="bottom" data-toggle="tooltip" data-original-title="Delete Astro Details">
               Delete <ng-md-icon icon="delete" style="fill:#665454" size="18">Delete</ng-md-icon></a>
                <a ID="btnlookhoro" Style="padding-left: 100px;" class="btn btn-link">View<span class="glyphicon glyphicon-eye-open"></span></a>
            </div>
        </div>
    </div>
</div>




<script type="text/ng-template" id="astroContent.html">
    <form name="astroForm" novalidate role="form" ng-submit="astroSubmit(atroObj)">
        <div class="modal-header">
            <h3 class="modal-title text-center" id="modal-title">Astro details
                <a href="javascript:void(0);" ng-click="cancel();">
                    <ng-md-icon icon="close" style="fill:#c73e5f" class="pull-right" size="20"></ng-md-icon>
                </a>
            </h3>
        </div>
        <div class="modal-body clearfix pop_content_my" id="modal-body">
            <ul id="ulastro">
                <li class="clearfix form-group">
                    <label for="lbltimebirth" class="pop_label_left">Time of Birth<span style="color: red; margin-left: 3px;">*</span></label>
                    <div class="pop_controls_right select-box-my select-box-my-trible select-box-my-trible3">

                        <select multiselectdropdown ng-model="atroObj.ddlFromHours" ng-options="item.value as item.label for item in hrsbindArr"></select>
                        <select multiselectdropdown ng-model="atroObj.ddlFromMinutes" ng-options="item.value as item.label for item in minbindArr"></select>
                        <select multiselectdropdown ng-model="atroObj.ddlFromSeconds" ng-options="item.value as item.label for item in secbindArr"></select>
                    </div>
                </li>

                <country-directive require="true" countryshow="true" cityshow="true" othercity="false" dcountry="atroObj.ddlCountryOfBirthID" dstate="atroObj.ddlStateOfBirthID" ddistrict="atroObj.ddlDistrictOfBirthID" dcity="atroObj.ddlcity"></country-directive>

                <li class="clearfix form-group">
                    <label for="lblstarlan" class="pop_label_left">Star language</label>
                    <div class="pop_controls_right select-box-my">
                        <select multiselectdropdown ng-model="atroObj.ddlstarlanguage" typeofdata="starLanguage" ng-change="changeBind('star',atroObj.ddlstarlanguage);"></select>
                    </div>
                </li>

                <li class="clearfix form-group">
                    <label for="lblstar" class="pop_label_left">Star</label>
                    <div class="pop_controls_right select-box-my">

                        <select multiselectdropdown ng-model="atroObj.ddlstar" ng-options="item.value as item.label for item in starArr"></select>

                    </div>
                </li>
                <li class="clearfix form-group">
                    <label for="lblpaadam" class="pop_label_left">Paadam</label>
                    <div class="pop_controls_right select-box-my">
                        <select multiselectdropdown ng-model="atroObj.ddlpaadam" typeofdata="paadam"></select>
                    </div>
                </li>
                <li class="clearfix form-group">
                    <label for="lblLagnam" class="pop_label_left">Lagnam</label>
                    <div class="pop_controls_right select-box-my">
                        <select multiselectdropdown ng-model="atroObj.ddlLagnam" typeofdata="lagnam"></select>
                    </div>
                </li>
                <li class="clearfix form-group">
                    <label for="lblRaasiMoonsign" class="pop_label_left">Raasi/Moon sign</label>
                    <div class="pop_controls_right select-box-my">
                        <select multiselectdropdown ng-model="atroObj.ddlRaasiMoonsign" typeofdata="ZodaicSign"></select>
                        </select>
                    </div>
                </li>
                <li class="clearfix form-group">
                    <label for="lblGothramGotra" class="pop_label_left">Gothram/Gotra</label>
                    <div class="pop_controls_right select-box-my">
                        <input ng-model="atroObj.txtGothramGotra" class="form-control" tabindex="13" maxlength="100" />
                    </div>
                </li>
                <li class="clearfix form-group">
                    <label for="lblMaternalgothram" class="pop_label_left">Maternal gothram</label>
                    <div class="pop_controls_right select-box-my">
                        <input ng-model="atroObj.txtMaternalgothram" class="form-control" tabindex="14" maxlength="100" />
                    </div>
                </li>
                <li class="clearfix form-group">
                    <label for="lblManglikKuja dosham" class="pop_label_left">Manglik/Kuja dosham</label>
                    <div class="pop_controls_right pop_radios_list clearfix form-group">
                        <label>
                    <input ng-model="atroObj.rdlkujaDosham" value="0" type="radio"><span>&nbsp;Yes</span>
                </label>
                        <label class="">
                    <input ng-model="atroObj.rdlkujaDosham" value="1" type="radio"><span>&nbsp;No</span>
                </label>
                        <label class="">
                    <input ng-model="atroObj.rdlkujaDosham" value="2" type="radio"><span>&nbsp;Dont't Know</span>
                </label>

                    </div>
                </li>

                <li class="clearfix form-group" style="display: none;">
                    <label for="lbllongitude" class="pop_label_left">Place of birth longitude</label>
                    <div class="pop_controls_right select-box-my">
                        <input id="txtlogitude" class="form-control" />

                        <select multiselectdropdown ng-model="atroObj.ddllongitude"></select>
                    </div>
                </li>
                <li class="clearfix form-group" style="display: none;">
                    <label for="lbllatitude" class="pop_label_left">Place of birth latitude</label>
                    <div class="pop_controls_right select-box-my">
                        <input id="txtlatitude" class="form-control col-lg-3" />
                        <select multiselectdropdown ng-model="atroObj.ddllatitude"></select>

                    </div>
                </li>
                <li class="clearfix form-group" style="display: none;">
                    <label for="lbllatitude">Place of birth latitude</label>
                    <div class="pop_controls_right select-box-my">
                        <input type="checkbox" ng-model="atroObj.Chkgenertehoro" value="Generate HoroScope" />
                    </div>
                </li>
                <li class="row ">
                    <div class="col-lg-9">
                        <input value="Submit" class="button_custom pull-right" type="submit">
                    </div>
                    <div class="col-lg-3">
                        <input value="Cancel" class="button_custom button_custom_reset  pull-right" ng-click="cancel();" type="button">
                    </div>
                </li>
            </ul>
        </div>

    </form>
</script>

<script type="text/ng-template" id="AddHoroPopup.html">
    <form name="uploadForm" novalidate role="form" ng-submit="upload(up);">
        <div class="modal-header">
            <h3 class="modal-title text-center" id="modal-title">Upload Horoscope </h3>
        </div>
        <div class="modal-body" id="modal-body">
            <ul id="ulprofession">
                <input type="file" file-model="up.myFile" />
            </ul>
        </div>
        <div class="modal-footer">
            <input value="Cancel" class="button_custom button_custom_reset" ng-click="cancel();" type="button">
            <input value="Upload" class="button_custom" type="submit">
        </div>
    </form>
</script>
<script type="text/ng-template" id="deletehoroPopup.html">
    <form name="uploadForm" novalidate role="form" ng-submit="deleteHoroImage();">
        <div class="modal-header">
            <h3 class="modal-title text-center" id="modal-title">Delete Horoscope </h3>
        </div>
        <div class="modal-body" id="modal-body">
            <div class="text-center">Are you sure to delete horoscope?</div>
        </div>
        <div class="modal-footer">
            <input value="Close" class="button_custom button_custom_reset" ng-click="cancel();" type="button">
            <input value="Delete" class="button_custom" type="submit">
        </div>
    </form>

</script>
<alert-directive></alert-directive>