<div class="edit_pages_content_main clearfix" ng-init="getdata()">

    <div class="edit_page_item" id="divEducation">
        <div class="edit_page_item_head clearfix">
            <h4>Education Details</h4>
            <div class="edit_page_item_ui clearfix">
                <a class="edit_page_add_button" href="javascript:void(0);" ng-click="showpopup('showEduModal');">Add</a>
            </div>
        </div>
        <div class="edit_page_details_item">
            <div id="fulleducation">

                <div id="ListView1" ng-repeat="item in educationSelectArray">

                    <div id="reviewdiv" class="edit_page_details_item_desc clearfix">
                        <div id="lbleducationgroup" class="edit_page_details_item_desc clearfix">
                            <h6>
                                <label id="lbleducationgroup" ng-style="{color: item.EduHighestDegree==1?'Red':'Black'}">{{item.EducationCategory!=null?(item.EducationCategory=="Below Graduation"?"Under Graduation":"Education"):"Education"}}</label>
                            </h6>
                            <h5>
                                <label id="edgoup" ng-style="{color: item.EduHighestDegree==1?'Red':''}">{{item.EducationGroup+" "+((item.EducationSpecialization!=null?"(" +item.EducationSpecialization+")":""))+" "+((item.EduPassOfYear!=null?",Completed"+"-"+item.EduPassOfYear:""))}} </label>
                            </h5>
                        </div>

                        <div id="editeducationbutton" class="edit_page_item_ui clearfix">
                            <a id="LinkButton1dfd" href="javascript:void(0);" ng-click="showpopup('showEduModal',item)">Edit</a>

                            <a id="lnkdeleteEdu" title="" data-placement="bottom" data-toggle="tooltip" data-original-title="Delete Education Details" class="edit_page_del_button" text="Delete"></a>
                        </div>

                        <div id="divuniversityhiding" class="edit_page_details_item_desc clearfix" ng-hide="item.EduUniversity===null">
                            <h6>
                                <span id="Label1">University</span>
                            </h6>

                            <h5>
                                <span id="lblTuniversity">{{item.EduUniversity}}</span>
                            </h5>
                        </div>

                        <div id="divCollege" class="edit_page_details_item_desc clearfix" ng-hide="item.EduCollege===null">
                            <h6>
                                <span id="Label9">College</span>
                            </h6>
                            <h5>
                                <span id="lblTcollege">{{item.EduCollege}}</span>
                            </h5>
                        </div>

                        <div class="edit_page_details_item_desc clearfix" id="divcityviewhiding" ng-hide="item.EduCityIn===null">
                            <h6>
                                <span id="Label3" font-bold="true">City Study In</span>
                            </h6>
                            <h5>
                                <span id="lblcountry">{{item.EduCityIn+","+item.EduDistrictIn+","+item.EduStateIn+","+item.EduCountryIn}}</span>
                            </h5>
                        </div>
                        <div id="divmerit" class="edit_page_details_item_desc clearfix" ng-hide="item.Educationdesc==null">
                            <h6>
                                <span id="Label5" font-bold="true">Education Merits</span>
                            </h6>
                            <h5>
                                <span id="lblmerits">{{item.Educationdesc}}</span>
                            </h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="edit_page_item">
        <div id="divlnkAddProfession" class="edit_page_item_head clearfix">
            <h4>Professional Details
            </h4>
            <div class="edit_page_item_ui clearfix">
                <div id="updapanellnkAddProfession">
                    <a id="ProfesionAdd" class="edit_page_add_button" href="javascript:void(0);" ng-click="showpopup('showProfModal')">Add</a>
                </div>
            </div>
        </div>

        <div class="edit_page_details_item">
            <div id="lstProfession" ng-repeat="item in ProfessionSelectArray">
                <div id="reviewdiv">
                    <div class="edit_page_details_item_desc clearfix">
                        <h6>
                            <span id="lblprofession" style="font-weight:bold;">Profession</span></h6>
                        <h5>
                            <span id="txtProfession">{{item.Professional+" "+(item.CompanyName !=null && item.CompanyName !=""?"in"+" "+item.CompanyName:item.CompanyName)}}</span></h5>
                    </div>
                    <div class="edit_page_item_ui clearfix">
                        <!--<a id="" class="edit_page_edit_button" ng-click="showProfModal = true" href="javascript:void(0);">Edit</a>-->

                        <a id="Linkedit" class="edit_page_add_button" href="javascript:void(0);" ng-click="showpopup('showProfModal',item)">Edit</a>
                    </div>
                    <div id="divcitywork" class="edit_page_details_item_desc clearfix" ng-hide="item.CityWorkingIn==null">
                        <h6>
                            <span id="lblcitywork" style="font-weight:bold;">City working in </span></h6>
                        <h5>
                            <span id="lblcityworkingg">{{(item.CityWorkingIn!=null?" "+item.CityWorkingIn:" ")+ " " +(item.StateWorkingIn!=null && item.StateWorkingIn!=" "?","+item.StateWorkingIn:"")+" "+(item.CountryWorkingIn!=null && item.CountryWorkingIn!=""? ", "+item.CountryWorkingIn:" ")}}</span></h5>
                    </div>
                    <div id="Div1">
                        <div class="edit_page_details_item_desc clearfix" ng-hide="item.Salary===null">
                            <h6>
                                <span id="lblsal" style="font-weight:bold;">Monthly salary</span></h6>
                            <h5>
                                <span id="lblsalaryy">{{item.Currency+" "+(item.Salary!=null && item.Salary!=""?" "+item.Salary+"/-":"")}}</span></h5>
                        </div>

                        <div id="Div2" class="edit_page_details_item_desc clearfix" ng-hide="item.WorkingFromDate===null">
                            <h6>
                                <span id="lblworkfrom" style="font-weight:bold;">Working from date</span></h6>
                            <h5>
                                <span id="lblworkingfrom">{{item.WorkingFromDate}}</span></h5>
                        </div>
                    </div>
                    <div id="Div3" class="edit_page_details_item_desc clearfix" ng-hide="item.VisaStatus===null">
                        <h6>
                            <label id="lblvisa">visa status</label>
                        </h6>
                        <h5>
                            <span id="txtvisa">{{item.VisaStatus}}</span>
                        </h5>
                    </div>
                    <div id="Div4" class="edit_page_details_item_desc clearfix" ng-hide="item.ResidingSince===null">

                        <h6>
                            <span id="lblsincedate">Since date</span>
                        </h6>
                        <h5>
                            <span id="txtsincedate">{{item.ResidingSince}}</span>
                        </h5>
                    </div>

                    <div id="Div5" class="edit_page_details_item_desc clearfix" ng-hide="item.ArrivingDate===null">

                        <h6>
                            <span id="lblarrival">Arrival Date</span>
                        </h6>
                        <h5>
                            <span id="txtarrival">{{item.ArrivingDate}}</span>
                        </h5>
                    </div>
                    <div id="Div6" class="edit_page_details_item_desc clearfix" ng-hide="item.DepartureDate===null">

                        <h6>
                            <span id="lbldepartture">Departure Date</span>
                        </h6>
                        <h5>
                            <span id="txtdaparture"> {{item.DepartureDate}}</span>
                        </h5>
                    </div>
                    <div id="Div7" class="edit_page_details_item_desc clearfix" ng-hide="item.OccupationDetails===null">

                        <h6>
                            <span id="lblOccupation" style="font-weight:bold;">Occupation Details</span></h6>
                        <h5>
                            <span>{{item.OccupationDetails}} </span></h5>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="divlnkadd" class="edit_page_item">
        <div class="edit_page_item_head clearfix">
            <h4>Mention your goals, interests and hobbies etc</h4>
            <div class="edit_page_item_ui clearfix">
                <div id="upAboutAdd">
                    <a id="lnkAddAboutURSelf" class="edit_page_add_button" href="javascript:void(0);" ng-click="showpopup('showAboutModal')">Add</a>

                </div>
            </div>
        </div>
        <div class="edit_page_details_item">
            <div id="reviewdiv" class="edit_page_details_item_desc clearfix">
                <div class="form-group">
                    <div id="uplblAbout" class="edit_page_details_item_desc clearfix">

                        <h5 style="float: none; width: 92%; display: block;">
                            <span id="lblabouturself">{{lblaboutUrself}}</span>
                        </h5>
                    </div>
                    <div id="uplnkAboutURSelf" class="edit_page_item_ui clearfix">
                        <a id="lnkAboutURSelf" class="edit_page_edit_button" href="javascript:void(0);" ng-click="showpopup('showAboutModal',lblaboutUrself)">Edit</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="edupopupdiv">
        <script type="text/ng-template" id="EduModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title text-center" id="modal-title">Education Details </h3>
            </div>
            <div class="modal-body" id="modal-body">
                <ul id="uleducation" class='modal-body clearfix pop_content_my'>
                    <li class="clearfix form-group">
                        <label for="lblIsHighestDegree" class="pop_label_left">Is Highest Degree<span style="color: red; margin-left: 3px;">*</span></label>

                        <div class="radio-group-my">
                            <label>
                    <input ng-model="edoObj.IsHighestDegree" value="1" type="radio"><span>&nbsp;Yes</span>
                </label>
                            <label class="">
                    <input ng-model="edoObj.IsHighestDegree" value="0" type="radio"><span>&nbsp;No</span>
                </label>
                        </div>
                    </li>
                    <li class="clearfix form-group">
                        <label for="lbleducationGroup" class="pop_label_left">Education category<span style="color: red; margin-left: 3px;">*</span></label>
                        <div class="pop_controls_right select-box-my">

                            <select multiselectdropdown ng-model="edoObj.ddlEduCatgory" typeofdata="educationcategory" ng-change="changeBind('EducationCatgory',edoObj.ddlEduCatgory);">    
</select>
                        </div>
                    </li>
                    <li class="clearfix form-group">
                        <label for="lbleducationGroup" class="pop_label_left">Education group<span style="color: red; margin-left: 3px;">*</span></label>
                        <div class="pop_controls_right select-box-my">
                            <div class="select-box-my">

                                <select multiselectdropdown ng-model="edoObj.ddlEdugroup" ng-options="item.value as item.label for item in eduGroupArr" ng-change="changeBind('EducationGroup',edoObj.ddlEdugroup);">    
                      </select>

                            </div>
                        </div>
                    </li>
                    <li class="clearfix form-group">
                        <label for="lbleducationGroup" class="pop_label_left">Edu specialization<span style="color: red; margin-left: 3px;">*</span></label>

                        <div class="pop_controls_right select-box-my">

                            <div class="select-box-my">
                                <select multiselectdropdown ng-model="edoObj.ddlEduspecialization" typeofdata="" ng-options="item.value as item.label for item in eduSpecialisationArr">    
</select>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix form-group" id="divuniversity">
                        <label for="lbluniversity" class="pop_label_left">University</label>

                        <div class="pop_controls_right">
                            <input type="text" ng-model="edoObj.txtuniversity" maxlength="100" class="form-control" />
                        </div>
                    </li>
                    <li class="clearfix form-group">
                        <label for="lblcollege" class="pop_label_left">College</label>
                        <div class="pop_controls_right">
                            <input type="text" ng-model="edoObj.txtcollege" maxlength="150" class="form-control" />
                        </div>
                    </li>
                    <li class="clearfix form-group">
                        <label for="lblPassOfYear" class="pop_label_left">Pass of year</label>

                        <div class="pop_controls_right select-box-my">
                            <select multiselectdropdown ng-model="edoObj.ddlpassOfyear" ng-options="item1.value as item1.label for item1 in passOfyearArr"></select>
                        </div>
                    </li>

                    <country-directive countryshow="true" cityshow="true" othercity="true" dcountry="edoObj.ddlCountry" dstate="edoObj.ddlState" ddistrict="edoObj.ddlDistrict" dcity="edoObj.ddlcity" strothercity="edoObj.txtcity"></country-directive>

                    <li class="clearfix form-group">
                        <label for="lblEduMerits" class="pop_label_left">Educational merits</label>
                        <div class="">

                            <textarea ng-model="edoObj.txtEdumerits" maxlength="500" rows="4" cols="20" style="width:515px;" tabindex="12" onkeydown="return CharacterCountedu()" onkeyup="return CharacterCountedu()"></textarea>

                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <input name="btnEduCancel" value="Cancel" class="button_custom button_custom_reset" ng-click="cancel();" type="submit">
                <input name="btnEduSubmit" value="Submit" class="button_custom" type="button" ng-click="eduSubmit(edoObj);">

            </div>
        </script>
    </div>
    <div id=profpopupdiv>

        <script type="text/ng-template" id="profModalContent.html">
            <form name="eduForm">
                <div class="modal-header">
                    <h3 class="modal-title text-center" id="modal-title">Profession details</h3>
                </div>
                <div class="modal-body clearfix pop_content_my" id="modal-body">
                    <ul>
                        <li class="clearfix form-group">
                            <label for="lblempin" class="pop_label_left">Employed In<span style="color: red; margin-left: 3px;">*</span></label>
                            <div class="pop_controls_right select-box-my">

                                <select multiselectdropdown ng-model="profObj.ddlemployedin" typeofdata="ProfCatgory"></select>
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lblprofessiongroup" class="pop_label_left">Professional group<span style="color: red; margin-left: 3px;">*</span></label>
                            <div class="pop_controls_right select-box-my">

                                <select multiselectdropdown ng-model="profObj.ddlprofgroup" typeofdata="ProfGroup" ng-change="ProfchangeBind('ProfessionGroup',profObj.ddlprofgroup);"></select>

                            </div>
                        </li>

                        <li class="clearfix form-group">
                            <label for="lblprofession" class="pop_label_left">Profession<span style="color: red; margin-left: 3px;">*</span></label>
                            <div class="pop_controls_right select-box-my">
                                <select multiselectdropdown ng-model="profObj.ddlprofession" ng-options="item.value as item.label for item in ProfSpecialisationArr"></select>
                            </div>
                        </li>

                        <li class="clearfix form-group">
                            <label for="lblcmpyname" class="pop_label_left">Company name</label>
                            <div class="pop_controls_right select-box-my">
                                <input ng-model="profObj.txtcmpyname" class="form-control" tabindex="4" maxlength="100" />
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lblsal" class="pop_label_left">Monthly salary</label>
                            <div class="pop_controls_right select-box-my select-box-my-double">
                                <select multiselectdropdown ng-model="profObj.ddlcurreny" typeofdata='currency'></select>

                                <input ng-model="profObj.txtsalary" class="form-control" onchange="currency();" maxlength="7" tabindex="6" />

                            </div>
                        </li>

                        <!--<li class="clearfix form-group">
                            <label for="lblCountryProf" class="pop_label_left">Country</label>
                            <div class="pop_controls_right select-box-my">

                                <select multiselectdropdown ng-model="profObj.ddlCountryProf" typeofdata="Country" ng-change="ProfchangeBind('Country',profObj.ddlCountryProf);"></select>

                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="StateProf" class="pop_label_left">State</label>

                            <div class="pop_controls_right select-box-my">
                                <select multiselectdropdown ng-model="profObj.ddlStateProf" ng-options="item.value as item.label for item in ProfstateArr" ng-change="ProfchangeBind('State',profObj.ddlStateProf);"></select>
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <div id="divDistricProf">
                                <label for="lblDistrictProf" class="pop_label_left">District</label>
                                <div class="pop_controls_right select-box-my">

                                    <select multiselectdropdown ng-model="profObj.ddlDistrictProf" ng-options="item1.value as item1.label for item1 in ProfdistrictArr" ng-change="ProfchangeBind('District',profObj.ddlDistrictProf);"></select>

                                </div>
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lblCityworking" class="pop_label_left">City working in</label>
                            <div class="pop_controls_right select-box-my">
                                <div ng-show="!cityinput">
                                    <select multiselectdropdown ng-model="profObj.ddlcityworkingprofession" ng-options="item1.value as item1.label for item1 in ProfcityeArr"></select>
                                </div>
                                <input ng-model="profObj.txtcityprofession" ng-show="cityinput" maxlength="100" />
                                <a href="javascript:void(0);" ng-click="ShowCity();">Not in List</a>
                            </div>
                        </li>-->




                        <country-directive countryshow="true" cityshow="true" othercity="true" dcountry="profObj.ddlCountryProf" dstate="profObj.ddlStateProf" ddistrict="profObj.ddlDistrictProf" dcity="profObj.ddlcityworkingprofession" strothercity="profObj.txtcityprofession"></country-directive>


                        <li class="clearfix form-group">
                            <label for="lblworkingfrome" class="pop_label_left">Working from date</label>
                            <div class="pop_controls_right">

                                <date-picker strdate="profObj.txtworkingfrom"></date-picker>
                            </div>
                        </li>
                        <div id="divfalseVisa">
                            <li class="clearfix form-group">
                                <label for="lblvisastatus" class="pop_label_left">visa status</label>
                                <div class="pop_controls_right select-box-my">
                                    <div class="select-box-my">
                                        <select multiselectdropdown ng-model="profObj.ddlvisastatus"></select>
                                    </div>
                                </div>
                            </li>
                            <li class="clearfix form-group">

                                <label class="pop_label_left" for="lblsincedate">Since date</label>
                                <div class="pop_controls_right">
                                    <date-picker strdate="profObj.txtssincedate"></date-picker>
                                </div>
                            </li>
                            <li class="clearfix form-group">
                                <label for="lblarrivaldate" class="pop_label_left">Arrival Date</label>
                                <div class="pop_controls_right">
                                    <date-picker strdate="profObj.txtarrivaldate"></date-picker>
                                </div>

                            </li>

                            <li class="clearfix form-group">
                                <label for="lbldeaparturedate" class="pop_label_left">Departure Date</label>
                                <div class="pop_controls_right">
                                    <date-picker strdate="profObj.txtdeparture"></date-picker>
                                </div>
                            </li>
                        </div>


                        <li class="clearfix form-group">
                            <label for="lbloccupation" class="pop_label_left">Occupation Details</label>
                            <div class="">
                                <textarea ng-model="profObj.txtoccupation" style="width:515px;" rows="4" tabindex="16" maxlength="500" onkeydown="return CharacterCount()"></textarea>

                                <label id="lbloccupationcount" style="color: #1e1c1c; font-size: 13px;"></label>
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="modal-footer">

                    <input value="Cancel" class="button_custom button_custom_reset" ng-click="cancel();" type="button">
                    <input type="submit" value="Submit" ng-click="ProfSubmit(profObj);" class="button_custom" type="button">
                </div>
            </form>
        </script>
    </div>
    <div id="AboutPopup">
        <script type="text/ng-template" id="AboutModalContent.html">
            <form name="aboutForm" novalidate role="form" ng-submit="AboutUrselfSubmit(aboutObj)">
                <div class="modal-header">
                    <h3 class="modal-title text-center" id="modal-title">About your self </h3>
                </div>
                <div class="modal-body clearfix pop_content_my" id="modal-body">
                    <ul>
                        <li class="clearfix form-group">
                            <label id="lblabout" style="color: #9b2828; font-size: 13px;">
            				(Please don't write phone numbers/emails/any junk characters)*</label>
                            <textarea ng-model="aboutObj.txtAboutUS" style="width: 500px; height: 150px;" class="col-lg-10" maxlength="1000" required ng-class="aboutForm.$invalid==true && aboutForm.gg?'form-control danger':''" />
                            <div>
                            </div>
                            <label id="Label1" style="color: red; font-size: 13px;" class="pull-right">(max 1000 characters)</label>
                            <label id="lblaboutcount" style="color: #1e1c1c; font-size: 13px;">{{aboutForm.txtAboutUS.length}}</label>
                        </li>
                    </ul>

                </div>
                <div class="modal-footer">
                    <input value="Cancel" class="button_custom button_custom_reset" ng-click="cancel();" type="button">
                    <input value="Submit" class="button_custom" type="submit">
                </div>
            </form>
        </script>
    </div>

</div>