<script type="text/ng-template" id="oldAlert.html">

    <div class="{{typecls}}">
        <div class="modal-header">
            <a href="javascript:void(0);" ng-click="close();">
                <ng-md-icon icon="close" style="fill:#c73e5f" class="pull-right" size="20"></ng-md-icon>
            </a>
            <h4 class="modal-title">
                <center>Alert</center>
            </h4>
        </div>
    </div>
    <div class="modal-body" id="modalbodyID">
        <p>
            <label style="color:blue;" ng-bind-html="msgs"></label>
        </p>
    </div>
    <div class="modal-footer ">
        <button type="button" class="btn btn-default" ng-click="close();">Close</button>
    </div>
</script>


<style>
    .editAlertcls {
        z-index: 9999999999 !important;
    }
</style>