<div class="register_page_main">
    <h4>registration</h4>

    <div class="register_page_main_in">
        <div class="register_page_main_steps">
            <ul>
                <li><a class="active" href="#" style="text-transform: capitalize;">Basic information</a></li>
                <li><a href="#" style="text-transform: capitalize;">profile details</a></li>
                <li><a href="#" style="text-transform: capitalize;">my photos</a></li>
                <li><a href="#" style="text-transform: capitalize;">my payments</a></li>
            </ul>
            <div class="clear">&nbsp;</div>
        </div>
        <div class="reg_fields_entry clearfix">
            <div class="control-group radio-group-my">
                <div class="controls">
                    <div class="radio-group-my input-group">
                        <label><input ng-model="reg.rbtngender" type="radio" value="1"><span>&nbsp;Male</span> </label>
                        <label class=""><input ng-model="reg.rbtngender"  type="radio" value="2"><span>&nbsp;Female</span></label>
                    </div>
                </div>
            </div>
            <br />

            <div class="control-group span4">
                <label class="control-label">First name</label>
                <input ng-model="reg.txtfirstname" class="input-box" placeholder="First Name" MaxLength="100" onkeydown="return checkwhitespace(event,this.id);" TabIndex="2" />>
            </div>
            <div class="control-group span4">
                <label class="control-label">Last name</label>
                <input ng-model="reg.txtlastname" class="input-box" placeholder="Last Name" MaxLength="50" onkeydown="return checkwhitespace(event,this.id);" TabIndex="3" />>
            </div>

            <div class="control-group span4">
                <label class="control-label">Email</label>
                <input ng-model="reg.txtEmail" MaxLength="50" OnTextChanged="txtEmail_TextChanged" class="input-box" onkeypress="return (event.keyCode != 32&&event.which!=32)" TabIndex="4" />

            </div>
            <div class="control-group span4">
                <label class="control-label">Password</label>
                <input ng-model="reg.txtpassword" MaxLength="15" class="input-box" onkeypress="return (event.keyCode != 32&&event.which!=32)" type="Password" TabIndex="5" />>
            </div>

            <div class="control-group span4 select-box-my">
                <label class="control-label">Posted by</label>
                <div class="controls clearfix">
                    <select multiselectdropdown ng-model="reg.ddlpostedby" typeofdata="childStayingWith"></select>
                </div>
            </div>


            <div class="control-group span4">
                <label class="control-label">Date of birth</label>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">

                        <select multiselectdropdown ng-model="reg.ddlDD"></select>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4" style="margin-left: -10px;">

                        <select multiselectdropdown ng-model="reg.ddlMM"></select>

                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4" style="margin-left: -10px;">
                        <select multiselectdropdown ng-model="reg.ddlYear"></select>
                    </div>

                </div>
            </div>

            <div class="control-group span4 select-box-my">
                <label class="control-label">Religion</label>
                <div class="controls clearfix">
                    <select multiselectdropdown ng-model="reg.ddlreligion"></select>
                </div>
            </div>

            <div class="control-group span4 select-box-my">
                <label class="control-label">Mother Tongue</label>
                <div class="controls clearfix">
                    <select multiselectdropdown ng-model="reg.ddlmothertongue"></select>
                </div>
            </div>

            <div class="control-group span4 select-box-my">
                <label class="control-label">Caste</label>
                <div class="controls clearfix">
                    <select multiselectdropdown ng-model="reg.ddlcaste"></select>
                </div>
            </div>

            <div class="control-group span4 select-box-my">
                <label class="control-label">Residing At</label>
                <div class="controls clearfix">
                    <select multiselectdropdown ng-model="reg.ddlcountry"></select>
                </div>
            </div>

            <div class="control-group span4 select-box-my select-box-my-double">
                <label class="control-label">Mobile no</label>
                <div class="controls clearfix">

                    <select multiselectdropdown ng-model="reg.ddlmobilecountry"></select>
                    <input ng-model="reg.txtMobileNo" MaxLength="10" class="input-box" onkeydown="return checkwhitespace(event,this.id);" OnTextChanged="txtMobileNo_TextChanged" TabIndex="13" />>

                </div>
            </div>
            <div>
            </div>
            <div class="control-group span4 select-box-my select-box-my-trible">
                <label class="control-label">phone no</label>
                <select multiselectdropdown ng-model="reg.ddllandcountry"></select>

                <input ng-model="reg.txtArea" placeholder="area code" class="input-box" MaxLength="8" onkeydown="return checkwhitespace(event,this.id);" TabIndex="15" />>


                <input ng-model="reg.txtlandNum" class="input-box" MaxLength="8" onkeydown="return checkwhitespace(event,this.id);" TabIndex="16" />>


            </div>

            <div class="clear"></div>
            <p class="accept_terms pull-left clearfix">
                <input type="checkbox" ng-model="reg.Chkprivacy" class="checkbox_my checkbox" TabIndex="17" />
                <label for="checkbox">
                        I agree to the <span>
                            <a ng-model="reg.lnkprivacyPolicy" Font-Size="12px" Text="Privacy Policy and T&C."  OnClientClick="PrivacyPolicy()"></a>
                        </span>
                    </label>

            </p>

            <div class="clear"></div>

            <div class="reg_submit clearfix">
                <input type="submit" class="button_custom" value="SUBMIT" TabIndex="18" />

            </div>
            <label ID="lblResult" Font-Bold="true" />

        </div>
    </div>
</div>