<div id="edupopupdiv">
    <a class="edit_page_add_button" href="javascript:void(0);" ng-click="clickkk();">Add</a>
    <div ng-controller="eduAndProfCtrl">

        <script type="text/ng-template" id="EduModalContent.html">
            <form name="eduForm" novalidate role="form" ng-submit="eduSubmit(edoObj);">
                <div class="modal-header">
                    <h3 class="modal-title text-center" id="modal-title">Education Details
                        <a href="javascript:void(0);" ng-click="cancel();">
                            <ng-md-icon icon="close" style="fill:#c73e5f" class="pull-right" size="20"></ng-md-icon>
                        </a>

                    </h3>
                </div>
                <div class="modal-body" id="modal-body">
                    <ul id="uleducation" class='modal-body clearfix pop_content_my'>
                        <li class="clearfix form-group">
                            <label for="lblIsHighestDegree" class="pop_label_left">Is Highest Degree<span style="color: red; margin-left: 3px;">*</span></label>
                            <div class="radio-group-my input-group">
                                <label><input ng-model="edoObj.IsHighestDegree" value="1" type="radio"><span>&nbsp;Yes</span> </label>
                                <label class=""><input ng-model="edoObj.IsHighestDegree" value="0" type="radio"><span>&nbsp;No</span></label>
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lbleducationGroup" class="pop_label_left">Education category<span style="color: red; margin-left: 3px;">*</span></label>
                            <div class="pop_controls_right select-box-my input-group">
                                <select multiselectdropdown ng-model="edoObj.ddlEduCatgory" typeofdata="educationcategory" ng-change="changeBind('EducationCatgory',edoObj.ddlEduCatgory);" required></select>
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lbleducationGroup" class="pop_label_left">Education group<span style="color: red; margin-left: 3px;">*</span></label>
                            <div class="pop_controls_right select-box-my input-group">

                                <select multiselectdropdown ng-model="edoObj.ddlEdugroup" ng-options="item.value as item.label for item in eduGroupArr" ng-change="changeBind('EducationGroup',edoObj.ddlEdugroup);" required></select>
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lbleducationGroup" class="pop_label_left">Edu specialization<span style="color: red; margin-left: 3px;">*</span></label>

                            <div class="pop_controls_right select-box-my input-group">

                                <select multiselectdropdown ng-model="edoObj.ddlEduspecialization" typeofdata="" ng-options="item.value as item.label for item in eduSpecialisationArr" required></select>
                            </div>
                        </li>
                        <li class="clearfix form-group" id="divuniversity">
                            <label for="lbluniversity" class="pop_label_left">University</label>

                            <div class="pop_controls_right">
                                <input type="text" ng-model="edoObj.txtuniversity" maxlength="100" class="form-control" />
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lblcollege" class="pop_label_left">College</label>
                            <div class="pop_controls_right">
                                <input type="text" ng-model="edoObj.txtcollege" maxlength="150" class="form-control" />
                            </div>
                        </li>
                        <li class="clearfix form-group">
                            <label for="lblPassOfYear" class="pop_label_left">Pass of year{{edoObj.ddlpassOfyear}}</label>

                            <div class="pop_controls_right select-box-my">
                                <select multiselectdropdown ng-model="edoObj.ddlpassOfyear" ng-options="item1.value as item1.label for item1 in passOfyearArr"></select>
                            </div>
                        </li>

                        <country-directive countryshow="true" cityshow="true" othercity="true" dcountry="edoObj.ddlCountry" dstate="edoObj.ddlState" ddistrict="edoObj.ddlDistrict" dcity="edoObj.ddlcity" strothercity="edoObj.txtcity"></country-directive>

                        <li class="clearfix form-group">
                            <label for="lblEduMerits" class="pop_label_left">Educational merits</label>
                            <div class="">

                                <textarea ng-model="edoObj.txtEdumerits" maxlength="500" rows="4" cols="20" style="width:515px;" tabindex="12" onkeydown="return CharacterCountedu()" onkeyup="return CharacterCountedu()"></textarea>

                            </div>
                        </li>
                        <li class="row ">
                            <div class="col-lg-9">
                                <input value="Submit" class="button_custom pull-right" type="submit">
                            </div>
                            <div class="col-lg-3">
                                <input value="Cancel" class="button_custom button_custom_reset  pull-right" ng-click="cancel();" type="button">
                            </div>
                        </li>

                    </ul>

                </div>

            </form>
        </script>
    </div>
</div>